[2015-04-21 01:46] mgreenegit opened #1 "Add Pester tests and AppVeyor script"

[2015-04-21 02:33] mgreenegit commented on #1
Added

[2015-04-21 02:33] #1 closed

[2015-12-02 17:37] craig-martin opened #13 "Azure KeyVault as PFX Source"
It would be cool if xPfxImport could import a PFX from Azure Key Vault
(https://azure.microsoft.com/en-us/documentation/articles/key-vault-get-started/#add)

I might be converting a DSC configuration to use the Azure VM DSC Extension, and would like to use Key Vault to store the certificates, so might work on this soon.

[2015-12-02 19:07] briantist commented on #13
@craig-martin that sounds like a great idea. I don't have enough experience with Azure or Azure DSC to work on this or test it. My current employer doesn't use Azure, but I'll be starting a new job in January at a company that does, so I'll definitely keep this in mind.

If you start work on it, please let me know, that way I don't duplicate your effort (and maybe we can work together on it).

[2015-12-15 13:00] allansson opened #15 "Add support for importing certificate"
The xPfxImport is great for importing certificates with a private key, but it would be nice if we could import public keys into the trusted root store.

I would propose adding a xCertificateImport-resource which mirrors much of the functionality given by the xPfxImport-resource, except that it expects a plain certificate file (any format supported by the Import-Certificate command) instead of a PF

[2015-12-29 18:40] braahyan opened #17 "Invalid Thumbprint error"
I was unable to use the xPfxImport to import a certificate. It was giving me an error message that my hash was invalid. I used the same hash and certificate with the import-pfxcertificate cmdlet and it worked fine. If there is any more information that I can supply, let me know, I'd like to avoid using the script resources for this if I can.

[2015-12-30 04:42] briantist commented on #17
@braahyan if you could include the error text that would be great. Does the PFX contain the private key? if not, could I get a copy of it? If you don't want to post it publicly, my email is my first name @ my domain (check my profile). Thanks!

[2016-01-06 22:19] PaulSpn1 opened #18 "Store not being set to WebHosting"
Hello,

I have set the Store to WebHosting and its still importing into Personal store the debug info confirms its going into Cert:\LocalMachine\My.

Paul

[2016-01-06 22:33] briantist commented on #18
@PaulSpn1 is IIS installed? The `WebHosting` store doesn't exist before IIS is installed so it may just take an invalid store and use `My` as the default (if so that would be the `Import-PfxCertificate` cmdlet doing that, not this resource).

[2016-01-06 22:35] PaulSpn1 commented on #18
Yes IIS is installed and Default website exists

[2016-01-06 23:05] PaulSpn1 commented on #18
The verbose output is below, so its seems to still think the sore is set as My, event iff I specify a different store the output remains the same

VERBOSE: [PMDEV]:                            [[xPfxImport]CompanyCert] Performing the operation "Set-TargetResource" on target "Importin
g PFX 'C:\Certs\wildcard 02092014 2016.pfx' into 'Cert:\LocalMachine\My'".

[2016-03-15 08:21] DdenBraver commented on #18
@PaulSpn1 Could you please tell me which store it is you are trying to write to?
This way I can try to recreate the issue.

[2016-04-07 21:34] #17 closed

[2016-04-08 09:46] DdenBraver commented on #18
@PaulSpn1 Could you please try this action again with the latest version of the resource?
If you are still running into the same issue, Please let me know what parameters you are using (without the certificate/thumbprint) and I will see if I can recreate the issue.

[2016-04-13 00:52] #15 closed

[2016-07-25 20:53] PlagueHO opened #25 "[New Feature] Extend xCertReq to Support additional Parameters"
At the company I work for we're going to be needing some additional features in this resource:
1. TemplateName - the name of the CA template to use.
2. KeyLength - the request is set to 1024 - should be defineable.
3. Exportable - Defaults to True, but this should be definable.
4. ProviderName - Should allow selection - KSP is recommended when using SHA-2. CSP is currently only option.
5. OID - sh

[2016-07-25 21:14] PlagueHO opened #26 "[New Resource] xPfxExport"
User Story: Need to be able to use certificates that are either already in the Windows Certificate Mahine Store (or have been requested via xCertReq) in software that does not use the Windows Certificate Store to store certificates. An example is Java Key Store (JKS) files.

This would require a certificate to be found in the machine store (via Thumbprint, Subject, Serial Number, KU, Issuer etc) a

[2016-07-26 10:27] johlju commented on #25
Looks like this are improvements many would benefit from. Love to see a PR for this so the PowerShell Team can review and merge.

[2016-07-26 10:33] johlju commented on #26
No PR's currently for review and no other open issues regarding this. So I say, go for it. Sounds like a great addition.
Great idea @PlagueHO

[2016-07-26 10:46] PlagueHO commented on #25
@johlju - cool! Thanks for the feedback! Appreciate it. I'll help some of my team put together the changes and get the PR submitted over the next week or two.

[2016-07-26 10:47] PlagueHO commented on #26
Thanks @johlju  - I'll get this done.

[2016-07-27 02:40] PlagueHO commented on #25
Unfortunately this resource module is quite far behind the current DSC standards (HQRM). So I'll need to bring it up to up to this level at the same time as making the changes.

[2016-07-27 22:35] PlagueHO opened #27 "[New Feature] xCertificate - Make CAServerFQDN and CARootName optional"
User story: we have different CA's for different AD forests. Each CA in each AD domain has a different name. We want to use the same DSC configuration scripts across all domains.

To do this means that the CA details should be able to be automatically detected if not provided. This can be done by using certutil.exe -dump:
![untitled](https://cloud.githubusercontent.com/assets/7589164/17194914/e133

[2016-07-30 02:39] PlagueHO opened #28 "[Issue] Tests missing and modules violate guidelines"
All modules in this resource don't meet style guidelines and are missing Integration tests (and some unit tests).

I'm currently working on bringing this resource up to HQRM before I work on the other fixes and features.

[2016-08-25 07:57] PlagueHO opened #31 "[New Resource] ExportCertToJKS - Export certificate+key as Java Key Store"
One common scenario we find our selves using xScript for is taking a certificate that is issued by xCertReq and exporting it to a PFX. The PFX then gets inserted into a new or existing Java Key Store (JKS) file.

This would allow more easily deploying Java based workloads on Windows nodes.

This would require the use of Java KeyTool.exe to perform the JKS conversion.

[2016-08-29 12:25] alexmow opened #32 "xCertificateImport: Cert-Location: CERT_SYSTEM_STORE_SERVICES ?"
When using the interactive Windows Certificates snap-in, a 3rd very important cert target store type can be selected:
One can select "my user account", "computer account" and "service account" as target for certificates.

xCertificateImport currently seems to only support 2 target store types:
    Location: 'LocalMachine' or 'CurrentUser'

As an admin it would be very cool to be able to also use x

[2016-09-28 19:22] #28 closed

[2016-11-04 14:41] brettjacobson opened #35 "xCertificateImport and Certificate Revocation Lists"
Is it possible to use xCertificateImport on .crl's?  If so how do you get the thumbprint of a CRL?

[2016-11-04 21:15] PlagueHO commented on #35
@brettjacobson  - that is a good question. I've looked into this and I don't think this resource can be used to import a CRL. This is because behind the scenes it is using ```import-certificate``` which can't be used to perform CRL import.

That said, it "could" be possible to modify/create a resource that could import/update/remove CRL's. It would require the use of the ```certutil``` cmdlet:
```

[2016-11-19 00:40] #25 closed

[2016-12-06 14:43] GoGus85 opened #37 "xCertReq throws timeout error but successfully retrieves certificate?"
I'm trying to use xCertReq to request an SSL certificate from my CA. I'm actually getting a strange timeout value in the end but I'm not sure why, and if I look in C:\Windows\Temp I can actually find the requested certificate there and it appears to be correctly issued and OK. See attached error. Why is it attempting to request a certificate using a new process when one was already requested just

[2016-12-07 05:32] PlagueHO commented on #37
Hi @GoGus85 - thanks for reporting this.

Just a couple of questions to help me figure this one out:
1. Do you know which version of the xCertificate resource you're using?
2. Are you setting the credential parameter in the xCertReq?

There was a bug in 2.1.0.0 that did result in similar behavior to this.

[2016-12-07 08:01] GoGus85 commented on #37
Hello @PlagueHO,
Yes I'm running 2.2.0.0.
Yes I am, when I neglected to do so it failed earlier in the chain.

Looking in C:\windows\temp I have 5 files generated:
xCertReq*.inf
xCertReq.*req
xCertReq*.cer
xCertReq*.out
xCertReq*.rsp

The out file which is part of the statement thats throwing the error contains:
RequestId: 1001
RequestId: "1001"
Certificate retrieved(Issued) Issued

[2016-12-07 17:19] PlagueHO commented on #37
Hi @GoGus85 - I'll take a look at this over the next couple of days and see if I can figure out what is going on. Are you able to post a copy of your config (with any sensitive information removed)?

[2016-12-08 07:56] GoGus85 commented on #37
The only parts that are related are these. Could it be because I'm only importing one of the resources rather than the complete module?

Import-DscResource -Name MSFT_xCertReq

        # Acquire certificate
        xCertReq SslCertificate
        {
            Subject = $Node.NodeName
            CAServerFQDN = "cafqdn"
            CARootName = "carootname"
            Credential = $GenericCredent

[2016-12-08 08:03] PlagueHO commented on #37
Hi @GoGus85 - it is possible this is a problem. Could you try importing the entire Module?

[2016-12-08 08:57] GoGus85 commented on #37
Well that fixed the issue...Thanks for the help!

[2016-12-08 08:57] #37 closed

[2016-12-30 03:11] PlagueHO opened #39 "[New Feature] xCertReq: SubjectAltName to automatically contain ComputerName and/or FQDN"
One common way we use xCertReq is to request certificates for web servers that have both a CNAME and a computer name + FQDN. E.g.
[code]

It would be awesome if the SubjectAltName could be specified in such a way that the computername and FQDN were filled in automatically by the xCertReq resource at apply time (not at compile time). E.g.
[code]

At apply time the SubjectAltName could be adjusted b

[2016-12-31 22:39] johlju commented on #39
If that is an optional parameter I see no problem having that functionality. It would be a great addition.

I guess one scenario would be when you want to try to monitor each back-end from the load balancer. Or just manually test if each node work, and don't want to get certificate error.

Wildcard certificates are only good (security-wise) if you can make a sub dns zone. Would not want a wildcard

[2017-01-01 03:19] PlagueHO commented on #39
@johlju  - for sure - totally agree with you 100%. I think at the moment the SubjectAltName is already an optional parameter. So it wouldn't affect any existing usage scenarios.

So, basically if you're already using the resource then this won't be a breaking change and people can still go ahead and create wildcard certs, it's just our security team prefer that we don't :grin:

Does that make sens

[2017-01-01 09:25] johlju commented on #39
Ah, now I see, I miss read you suggestion above. I thought you wanted add a new boolean parameter that would trigger this functionality. But I see now that you meant that if the user adds the "tag" `{ComputerName}` and/or `{FQDN}` somewhere in the value for `SubjectAltName`that would be replaced at runtime.
That is even better 😄  As you say, this would not change any existing usage scenarios at al

[2017-01-01 20:09] PlagueHO commented on #39
Awesome! Thanks @johlju - I'll get working on this over the next week or so. It'll shrink the number of DSC configs we're creating by a lot :grin:

[2017-01-03 16:04] Yvand opened #40 "How-to use xCertificateImport right after xCertReq to save public key to disk?"
Hello, I generate a certificate using xCertReq, then I want to use xCertificateImport to save its public key to disk.
How can I get the thumbprint of my new certificate and pass it to xCertificateImport?
Could xCertReq be updated to add possibility to export public key to disk?
Or could xCertificateImport be updated to find certificate based on its subject as an alternative to its thumbprint?

[2017-01-07 03:24] PlagueHO opened #41 "[New Resource] xCertificateExport"
User Story: Need to be able to export certificates that are either already in the Windows Certificate Machine Store or have been requested via xCertReq.

This would require a certificate to be found in the machine store (via Thumbprint, Subject, Serial Number, KU, Issuer etc) and then exported to a file (if the file does not exist) as an x509 CER file.

This will be combined with the xPFXExport re

[2017-01-07 03:29] PlagueHO commented on #40
Hi @YVand - ```xCertifiicateImport``` unfortunately can't export certificates. It can only import them into the WIndows Certificate Store.

What you need is ```xCertificateExport``` (or ```xPFFExport``` for certs with private keys) - which is a resource I've been meaning to implement for some time but forgot to make the request. I've now raised the resource request ( #41 ).

This resource would ta

[2017-01-07 08:46] johlju commented on #41
This would be a great addition. 👍

Could we also make these happen?

* Can store the exported certificate to UNC path (when `PsDscRunAsCredential` is set to a username that has permission the the UNC path). _I guess this would work just out-of-the-box._
* That is has a parameter for overwrite an existing certificate file. When the server can auto-renew certificates on there own, it could lead to t

[2017-01-08 08:10] PlagueHO commented on #41
Hi @johlju

1. Yep - sounds like a great idea!
2. Another good idea - what we'd need to do is perform a hash compare on the certificate that is saved to disk and see if it requires to be rewritten. This would be similar in behavior to the MatchSource in xRemoteFile.

However, this might be more difficult with .PFX/.P12 files because they can contain more than one certificate (e.g. the entire certi

[2017-01-09 10:25] Yvand commented on #40
Hi @PlagueHO, AWESOME!
I'll definitely wait, in the meantime I'll probably work around this with a script resource that uses Export-Certificate cmdlet, but a dedicated resource would be far better.

[2017-01-09 19:14] johlju commented on #41
2. For the .pfx/p12 files, maybe there should be an option to export the chain or just the certificate? I think you only need to verify the certificate ("export" it from the chain). If that has changed, you need to export it again. But if something in the chain has changed, then most likely the certificate has changed as well, and thus will export the entire chain again (because the option mention

[2017-01-10 06:47] PlagueHO commented on #41
@Johlju
2. Good thinking - that makes sense.

I did a bit of digging and we can read the content of the PFX file reasonably easily with the following code:
[code]

So this would allow us to compare the content of the current PFX with the certificate chain.

But yep I'm happy to put the MOF together.

[2017-01-10 06:50] PlagueHO commented on #40
@Yvand - no problem! A pleasure doing it + our teams can definitely use this too. We have also been using xScript to perform the certificate export (and subsequent conversion to Java Key Store files in some cases).

[2017-01-14 20:42] PlagueHO commented on #26
I'm going to close this issue because it will get rolled into #41.

[2017-01-14 20:42] #26 closed

[2017-01-15 00:26] PlagueHO commented on #41
Hi @johlju - here is the proposed MOF:
[code]

Thumbprint, Store, Subject, Issuer, KeyUsage, EnhancedKeyUsage, Store and Allow Expired are all certificate **identifier parameters**. Not all combinations of these parameters would be useful, but there is no reason why someone couldn't specify odd combinations. E.g. Thumbprint + Subject would be a bit silly but still valid if you wanted to use that c

[2017-01-16 13:29] johlju commented on #41
That is more extensive schema than I had in my mind, impressive! This will become more than great! :+1:

As you say, it will be up to the user to choose the right combination of *identifier parameters*. Maybe it would be good to group the "identifier parameters" together, maybe in a table, in the documentation (README.md). To say that the result of all of those together will be used as the "filter

[2017-01-18 06:04] PlagueHO commented on #41
Cool. Thanks @johlju - I think you're right. There is no real need for Ensure - I had it in there for consistency.

What I indent to do is add a new CertificateDsc support module to the resource module with a function ```Find-Certificate``` that will only identify a certificate based on _identifier parameters_ passed in. I think it is best to separate the function into a support module so that in

[2017-01-21 11:46] svenvanrijen opened #42 "xCertReq failed with error"
Please see error below:

PowerShell DSC resource MSFT_xCertReq failed to execute Set-TargetResource functionality with error message: The process 'C:\Windows\System32\WindowsPowerShell\v1.0\PowerShell.exe' with arguments '-Command "& C:\Windows\system32\certreq.exe @('-submit','-q','-config','CA01.xxxx.xxx\xxxxxx-CA01-CA','C:\Windows\TEMP\xCertReq-b6e74f80-5f35-46b2-a477-24098ca9b417.req','C:\Wind

[2017-01-21 19:44] PlagueHO commented on #42
Hi @svenvanrijen - thanks for reporting this. I actually ran across this issue last week on one my servers. So I was going to log this, but you beat me to it. Great work. Are you able to post your config for me (blank out any credentials or other sensitive info of course)?

[2017-01-22 10:00] svenvanrijen commented on #42
Hi Daniel, no problem:

[code]

It's quite a large config, so I just cut and paste the bits for the node that matters. If you need any more info or details, please let me know...

Kind regards,
Sven

[2017-01-23 08:10] PlagueHO commented on #41
I've been working on this, but have been help up with the DSCResource.Tests changes. I'd like to get those nailed down and released before I finish this one - hopefully won't take too long.

[2017-01-23 12:45] johlju commented on #41
No worries. One thing at a time :)

[2017-01-31 06:50] PlagueHO commented on #41
Getting back to work on this one because I'm waiting on some input/guidance on [this issue](https://github.com/PowerShell/DscResources/issues/246) - adding Markdown & Example validation and AppVeyor.psm1 to DSCResource.tests and I'm not sure how long it will take (would love your input BTW).

[2017-01-31 13:12] svenvanrijen commented on #42
Hi!
I've tried to troubleshoot this issue myself this, but unfortunately without any luck.
Guess it has something to do with creating and starting the Win32_Process within the PDT script... When I try this manually, I get an error regarding insufficient rights to start the process.

Anyway, I've got around it by changing my config to not use the $credential parameter and fixing an error in the xCe

[2017-02-02 06:37] PlagueHO commented on #42
Hi @svenvanrijen - thanks for the additional info! I'm definitely trying to get to this one. It is right up high on my list.

[2017-02-08 02:50] wasabii opened #44 "xCertReq friendly name?"
Would be nice to be able to specify this. I want to create the cert, but later I want to use the name in another task or script. Nothing to key off of otherwise.

[2017-02-08 08:28] PlagueHO commented on #44
@wasabii - thanks for raising this. This sounds like a great idea to me. It should be a reasonably minor change too.

[2017-02-08 11:28] AndreasSobczyk opened #45 "Support for Nano server."
xCertificateImport currently fails on Test-Thumbprint because [System.AppDomain] does not exist in Nano server.
Since GPOs is not supported on Nano server the xCertificateImport would be the perfect mechanism to import Enterprise Root certs into the nano server

[2017-02-09 06:37] PlagueHO commented on #45
Good catch @AndreasSobczyk and thanks for raising this. I think we're also going to need to make other changes for this to support Nano Server. ```Import-Certificate``` is used but isn't supported on Nano I think.

So we need to actually have an alternate path through the resource that will call ```certoc.exe```. See [this page](https://technet.microsoft.com/en-us/windows-server-docs/get-started/i

[2017-02-09 12:11] AndreasSobczyk commented on #45
Import-Certificate is actually supported and work now. This is what i have used to add the certificates without DSC :)

[2017-02-10 06:08] PlagueHO commented on #45
@AndreasSobczyk - oh cool! That is some great info (and news). I'm working on some other xCertificate issues this weekend so I'll attempt to put time into resolving this.

[2017-02-10 09:11] PlagueHO commented on #41
@johlju - made some good progress on this one. I've added a helper function ```find-certificate``` that will locate the appropriate certificate based on _identifier parameters_. You can see the function here: https://github.com/PlagueHO/xCertificate/blob/Issue-41/xCertificateExport/Modules/CertificateDsc.Common/CertificateDSc.Common.psm1#L205

I've got to add some unit tests and then the actual re

[2017-02-10 09:45] johlju commented on #41
Awesome! I had this e-mail conversation flagged to get back to you. But it has been very long evenings at the day job recently :/ Good that you started this! :) I will look at the function this weekend and also try to help review PR's that you got going for the new comment tests etc. in the different resources.
Gonna be great to have a nice and relaxed weekend with DSC ;)

[2017-02-10 10:25] johlju commented on #41
I was not ironical. Genuinely looking forward working with DSC. :smile:

[2017-02-11 01:20] plraustin opened #46 "Import fails on 2008 R2 because Import-PfxCertificate utility does not exist on Win 2008 R2"
Import fails on 2008 R2 because Import-PfxCertificate PS utility / command does not exist on Win 2008 R2

[2017-02-11 01:22] plraustin opened #47 "How to set permissions on private key after importing cert via DSC"
After importing pfx file how to set permissions on private key with DSC?

e.g., After loading cert into localcomputer \ my store how would one set IIS_IUSRS access to private key for use with IIS site using DSC process?

[2017-02-11 07:01] PlagueHO commented on #46
Hi @plraustin - thanks for logging this. There probably is a solution to this using something like certutil.exe to perform the import instead of the Import-PfxCertificate cmdlet. I'll look into this when I get time (unless someone else gets to this first).

[2017-02-11 07:24] PlagueHO commented on #47
Hi @plraustin - this is a really good question.

There isn't currently a resource that can be used to assign access to private keys to other local or domain accounts. This does seem like a good idea for a resource and wouldn't be too difficult to implement (based on the work I'm currently doing).

But in the meant time, you could use xScript to do this fairly easily.

Are you importing the certifi

[2017-02-11 07:30] PlagueHO commented on #41
@johlju - haha I know you're like me and actually enjoy writing DSC resources 😆

[2017-02-12 21:43] rikhepworth commented on #42
Hi
I have encountered this exact issue. As with @svenvanrijen removing the $credential, and modifying the xCertReq resource with Sven's code change works. My configuration is pretty much identical to the one Sven is attempting to apply. I'm doing this on Windows Server 2012R2 with all current patches applied.

[2017-02-13 07:21] PlagueHO commented on #42
Hi @rikhepworth and @svenvanrijen - this does look like the solution to the problem. However the ```$credential``` is only required if the template requires an alternate credential to issue - so I don't think you'll need it mostly.

But because there is very little automated integration tests for this resource, I want to be certain that we're not making a breaking change. I've tried to implement s

[2017-02-13 08:23] PlagueHO commented on #42
@rikhepworth and @svenvanrijen - there is still some sort of issue going on when the $credential parameter is being passed. So even once @svenvanrijen has been merged I'll still keep this issue open till I can figure out what is causing this problem.

[2017-02-24 13:16] gammalost opened #49 "xCertReq does not create req file from inf"
When running xCertReq, it throws an error after trying to create the .req file from the .inf file when it tries to use the .req file:

PowerShell DSC resource MSFT_xCertReq  failed to execute Set-TargetResource functionality with error message: Certificate Request file 'C:\windows\TEMP\xCertReq-3a43205a-a1b6-40e6-a1c3-40a56
fc7c375.req' not found.
    + CategoryInfo          : InvalidOperation: (:

[2017-02-24 20:21] PlagueHO commented on #49
Hi @gammalost - thank you for submitting this.

There are some [current issues](https://github.com/PowerShell/xCertificate/issues/42) with xCertReq that have been fixed but not yet released. However, I don't think what you're seeing is caused by these.

I have a couple of questions:
1. Is your CA an Enterprise CA (e.g. AD Integrated) or Standalone CA? If your CA is a Standalone CA then it doesn't

[2017-02-25 19:04] dcuomo commented on #49
@gammalost -
I seem to remember having a similar issue like this in the past.  Could you try changing your subject param to something like:
Subject = "**CN=**$($Node.NodeName)"

[2017-02-26 12:41] gammalost commented on #49
@PlagueHO
1. I'm trying to use this in conjunction with a server created using xAdcsDeployment as an Enterprise Root CA with Web Enrollment installed. The CA server is connected to a domain, but not the server I'm trying to request certificate from. In short I'm trying to request a certificate from a remote server not connected to the same domain as the CA.
2. As far as i can tell it should be ena

[2017-02-27 12:21] gammalost commented on #49
When trying to do the same with a server connected to the same domain i get the same error as in [issue 42](https://github.com/PowerShell/xCertificate/issues/42). This seems to point more and more in the direction of access and credential as you pointed out @PlagueHO . Have this module been tested on requesting certificates from a CA in another domain?

[2017-02-28 05:53] PlagueHO commented on #49
Hi @gammalost - ah - I haven't actually tried this issuing an enterprise cert from a machine not connected to the domain. Have you tried setting the PSDscRunAsCredential parameter (if you're using WMF5+) or the Credential parameter (if WMF4)? I actually suspect this won't work, because this effectively tries to force the certutil.exe commands to run under the context of this user - which probably

[2017-02-28 09:26] gammalost commented on #49
New and uncharted territory :smile: . I've tried setting **PSDscRunAsCredential** both as local and domain admin for the remote domain. This actually results in no **.inf** file at all, even with local admin credentials. The **Credential** parameter does not seem to matter (at least not at this point) as it still results in it failing when running the **certreq -new** part of the module. I am usin

[2017-03-02 07:17] #41 closed

[2017-03-02 07:40] PlagueHO opened #50 "Convert to use Shared AppVeyor Code and Add CodeCov.io"

[2017-03-13 14:48] svenvanrijen commented on #42
Successfully created PR #52

[2017-03-15 08:58] gammalost commented on #49
Hi @PlagueHO !
I've finally been able to request a certificate from a non-domain server through manuall usage of **certreq**. Still have the problem of the request file not being created. After some lenghty googling I have concluded that the pop-up is expected behaviour for non-domain servers as they do not have access to list templates available on CA, so it pops a message which **-q** options ca

[2017-03-22 08:25] PlagueHO commented on #50
I'll work on this over the weekend.

[2017-03-22 08:26] PlagueHO commented on #44
@wasabii - I'll have a go at adding this over the weekend.

[2017-04-14 09:21] aboersch opened #54 "[New Resource] xServerCertReq"
I have a custom Document Signing Certificate Template that I would like to request from the CA.

There are 2 reasons the current implementation of xCertReq does not work for this:

1. The issued Certificate does not have a Subject even if you put one in the inf. Therefore the Primary Key would have to be the friendly name.
2. It fails if you use "[RequestAttributes]CertificateTemplate = $Certifica

[2017-04-14 09:25] aboersch commented on #54
For Reference:

The Custom Certificate Template that I am using is enabled for all Domain Coumputers. The properties are:
"pKIDefaultKeySpec" = "1"
"pKIKeyUsage" = "0x30"
"pKIMaxIssuingDepth" = "0"
"pKICriticalExtensions" = "2.5.29.15"
"pKIExpirationPeriod" = "0 64 57 135 46 225 254 255"
"pKIOverlapPeriod" = "0 128 166 10 255 222 255 255"
"pKIExtendedKeyUsage" = "1.3.6.1.5.5.7.3.2"
"pKIDefaultCSPs

[2017-04-16 07:21] PlagueHO commented on #54
Hi @aboersch - thanks for submitting this issue - and the offer to resolve it! :grin:

I'm wondering if there is something else there is going on here? Are you able to post the output of the DSC logs for this and also the DSC Config you're using?

I added a Document Signing certificate template (that hopefully should have been the same as yours) to my CA and was able to issue a cert from it using

[2017-04-17 13:17] gammalost commented on #49
Hi @PlagueHO .
I finally got around to implementing the functionality in your module. The only difference is that I've added two extra parameters for the CEP and CES URL, and added an if/else around **CertReq -new** and **-submit** for checking if the URLs and Credentials are passed.
If you're interested in checking out what have been done I can do a pull request.

[2017-04-18 07:03] aboersch commented on #54
Allow me to first explain what I am trying achieve:
I have created a Document Signing Template using PowerShell on my CA. The purpose of the issued Certificates will be encrypting Credentials in MOFs for DSC as per [Microsoft specs](https://msdn.microsoft.com/en-us/powershell/dsc/securemof#certificate-requirements).
Now I am trying to get the DSC clients to request such a Certificate.

The name of

[2017-04-18 08:18] PlagueHO commented on #49
Hi @gammalost - sorry I missed your previous comment. This sounds like a really useful feature to me and would be great to have!

I do think though there would need to be a parameter added to specify that a Standalone CA is being used - the parameter would default to Enterprise CA if the machine is domain joined or Standalone if it wasn't.

If Enterprise CA is being used then use the existing proc

[2017-04-18 08:23] PlagueHO commented on #49
Also, it might be worth updating [xADCSDeployment](https://github.com/PowerShell/xAdcsDeployment) to enable deploying **Enrollment Web Service** and **Enrollment Policy Web Services**. I've been meaning to add these but haven't had the time yet...

[2017-04-19 06:47] gammalost commented on #49
AFAIK about CA's and requesting it looks sound. I'll implement the changes and make a pull request.

[2017-04-19 07:38] gammalost commented on #49
One thing regarding the standalone/enterprise parameter. I don't think it should default to a value in the case of it being in a domain or not. This because both non-domain servers and servers in external domains can still request certificates from an enterprise CA (if the enrollment services is being used).
I'm more in favor of having this just defaulting to enterprise if the parameter is not spe

[2017-04-20 06:26] PlagueHO commented on #49
@gammalost - cool - that sounds like a good idea to me. Just as long as the default is general Enterprise CA (to avoid a breaking change). Thanks for working on this!

[2017-04-28 11:22] aboersch commented on #54
Here is the error from DSC:
[code]

If I invoke the certreq manually:
& certreq.exe @('-submit','-q','-config',"$CAName","C:\Windows\Temp\xCertReq-015bb903-c3bd-4707-91e6-38c74caa70e8.inf","C:\Windows\Temp\xCertReq-015bb903-c3bd-4707-91e6-38c74caa70e8.cer")
 I get:
Certificate Request Processor: ASN1 bad tag value met. 0x8009310b (ASN: 267 CRYPT_E_ASN1_BADTAG)

This is the config I used

[code]

A

[2017-04-29 00:05] PlagueHO commented on #49
Hi @gammalost - I think this one can be closed now - is that correct?

[2017-04-29 00:09] PlagueHO commented on #42
Hi @svenvanrijen - are we able to make this one as closed now?

[2017-04-29 00:11] PlagueHO commented on #40
Hi @Yvand - sorry, I forgot to follow up on this. I created the xCertificateExport and it was released to the resource kit (I can't remember which version). Have you had a chance to try it? Did it cover your use case? If so, can we close this?

[2017-04-29 01:38] PlagueHO commented on #32
Hi @alexmow - I've been digging around in the documentation and haven't had any success finding a way to import/export certificates to the Services stores. According to the documentation `Certutil.exe` should be able to do this by adding the `-service` option, but I've had no success using this. Even using CertUtil.exe to do this would be fairly unreliable because it would require a lot of text ma

[2017-04-29 06:47] svenvanrijen commented on #42
Yes, we can!
Issue successfully fixed in PR #52

[2017-04-29 06:47] #42 closed

[2017-04-29 09:32] gammalost commented on #49
Yes :slightly_smiling_face:

[2017-04-29 09:32] #49 closed

[2017-05-04 07:25] Yvand commented on #40
Hi @PlagueHO, thank you very much for this, it's exactly what I needed!
In the meantime I implemented a custom script and, to be honest, I didn't update yet the configuration to use the new resource xCertificateExport.
Below is the custom script I wrote as a workaround:
[code]
It's not on the top of my todo list at the moment but I will definitely update the configuration to use resource xCertific

[2017-05-12 08:55] SeanEGray opened #61 "xCertReq does not confirm that SubjectAltName is correct"
xCertReq's Test-TargetResource returns true if the certificate is found but SubjectAltName is incorrect. It should return false if SubjectAltName is incorrect.

[2017-05-12 11:43] SeanEGray commented on #61
PR 62 created to fix: https://github.com/PowerShell/xCertificate/pull/62

[2017-05-18 07:38] #27 closed

[2017-06-01 09:42] PlagueHO opened #64 "Breaking change: Get-LocalizedData command"
[code]

As of the 4.0.0.0 release today, this module now conflicts with the newly released 3.0.0.0 version of xStorage. The only way to install this module is to use `Install-Module xNetworking -Force -AllowClobber`. This should break aliases between DSC resources.

Please address ASAP, this is a big breaking change.

This issue was raised by @glennmate in xNetworking here: https://github.com/Powe

[2017-06-01 20:41] #64 closed

[2017-06-05 02:27] TLaborde opened #67 "space in CARootName break the submit"
It seems there was a PR rolled back on that subject, bu I have a similar issue, my root cert contains space, and the certreq -submit fails because of it. Is there a quickfix on that matter?

edit : i'm on 2.6.0.0, and it doesn't look like it's related to the 2.5.0.0 fix

[2017-06-05 04:36] PlagueHO commented on #67
Hi @TLaborde - Have you tried 2.7.0.0? Also, could you post your config and error log if possible?

Are you referring to either of these two fixes?
https://github.com/PowerShell/xCertificate/issues/42
https://github.com/PowerShell/xCertificate/issues/49

[2017-06-05 05:36] TLaborde commented on #67
Just tried on 2.7.0.0, same issue.
Yeah i was referring to #42

the config:

[code]

Related logs and error:
[code]

It does generate a rsp file, but not the .cer
If i run the certreq command from the host in powershell with the req file, it works.

I also tried using PsDscRunAsCredential and even after giving the account the proper local rights, I get the same error.

[2017-06-05 06:15] TLaborde commented on #67
Nevermind, it was a credential right issue...

[2017-06-05 06:15] #67 closed

[2017-06-05 06:25] TLaborde commented on #67
Just if someone else have a similar problem, i looked into the CA logs to find more info on what happen.

[2017-06-06 07:54] PlagueHO commented on #61
This has been closed because PR #62 was merged. Thanks @SeanEGray !

[2017-06-06 07:54] #61 closed

[2017-06-10 03:27] PlagueHO opened #68 "Convert to Use New-Invalid*Error to New-Invalid*Exception"
Some of the modules are using New-InvalidArgumentError in CertificateDSc.Common.psm1 instead of the standard `New-InvalidOperationException` and `New-InvalidArgumentException` cmdlets in CertificateDsc.ResourceHelper.psm1 that were copied from PSDscResources.

[2017-06-10 03:50] PlagueHO commented on #54
Hi @aboersch - That is some great info. I'm just doing some work on this resource and will give this a try and include your suggested changes to see if it causes any other side affects (e.g. passes all regression tests)

[2017-06-10 03:52] PlagueHO commented on #40
Hi @Yvand - thanks for posting your work around script - it is similar to what I'd used before creating this resource! :grin:

Can we close this issue?

[2017-06-10 03:55] PlagueHO commented on #18
I'm going to close this one because of lack of activity. @PaulSpn1 - feel free to reopen this.

[2017-06-10 03:55] #18 closed

[2017-06-10 08:25] PlagueHO commented on #54
Hi @aboersch - I've figured out what the issue is:
The xCertReq resource can only request certificates for a machine - it can't request user certificates because the DSC LCM always runs under a machine context (even if you're logged onto the node and applying the config manually).

The DSC template above `DSC` is created as a user certificate, so xCertReq can't issue it - but you could issue it yo

[2017-06-17 22:47] PlagueHO opened #70 "Verbose Messages in Functions in CertificateDsc.Common not being displayed"
The verbose preference does not appear to get passed from a *-TargetResource function into and "common" functions that are being called.

An example of this is the calls to `Find-CertificateAuthority` in the `xCertReq`. The Verbose messages will not be displayed even when `*-TargetResource` is called -Verbose.

@johlju reported this on xSQLServer in this issue: https://github.com/PowerShell/xSQLSe

[2017-06-19 06:39] #44 closed

[2017-06-19 06:42] PlagueHO commented on #44
Hi @wasabii - sorry about taking so long. But I've completed this change now. It is in the Dev branch and will be released in a few weeks. Feel free to try this now and let me know if you have any problems.

[2017-06-19 07:53] PlagueHO opened #71 "Add VS Code workspace settings file with settings matching style guideline"
I suggest we add a VS Code workspace setting file with the following settings:

[code]

This is discussed here https://github.com/PowerShell/DscResources/issues/284.

That will make it possible inside VS Code to press <kbd>SHIFT</kbd>+<kbd>ALT</kbd>+<kbd>F</kbd> or press <kbd>F1</kbd> and choose 'Format document' in the list. The PowerShell code will then be formatted according to the Style Guidel

[2017-06-20 07:24] #71 closed

[2017-06-20 13:12] Yvand commented on #40
Sure, sorry for my late reply!

[2017-06-20 13:12] #40 closed

[2017-06-20 13:19] Yvand opened #73 "xCertReq randomly fails with error "RPC server is unavailable""
Hello,
I have reliability issues with xCertReq on Windows Server 2016: randomly (about 1 every 10 times), it fails with error "The RPC server is unavailable. 0x800706ba (WIN32: 1722 RPC_S_SERVER_UNAVAILABLE)".
I use it in a DC hosted in Azure that gets deployed from scratch, below is the relevant portion:
[code]

Here is the full execution of the resource, with the error:
[code]

Additional inform

[2017-06-23 21:14] PlagueHO commented on #73
Hi @Yvand - thanks for submitting this issue - great detail. I do wonder if the request is hitting the ADCS before is has completed installing and the service has started.

Perhaps I could create a new resource to wait for the ADCS to have started up (with a timeout etc). Similar to the xWaitForDisk resources in xStorage.

I'll do some investigation and see if there is a way of detecting if an ADC

[2017-07-01 20:15] PlagueHO opened #75 "Set powershell.codeFormatting.preset in .vscode\settings.json to "Custom""
This will override a user defined value. See https://github.com/PowerShell/DscResources/issues/284#issuecomment-312422210

[2017-07-03 09:24] Yvand commented on #73
Hi @PlagueHO on my side I implemented a 30 secs timer between xADCSCertificationAuthority and xCertReq and since then I never faced this issue again, so it looks like it's indeed because ADCS is randomly not ready yet when xCertReq runs.

[2017-07-04 07:52] PlagueHO commented on #73
Hi @Yvand - I'll see about creating a new resource that will wait for the ADCS to become available. It shouldn't be too difficult. I'll see if I can put it together this weekend.

[2017-07-05 07:15] PlagueHO commented on #70
I'll hold this issue open until we hear some more information around why this behavior is required.

[2017-07-05 07:55] iainbrighton commented on #70
@PlagueHO I've not tried it, but would putting `$PSDefaultParameterValues['Verbose'] = $VerbosePreference` at the top of each *-TargetResource method/begin block work?

[2017-07-05 08:00] PlagueHO commented on #70
Hi @iainbrighton - I suspect your solution would work well. My only issue with all solutions so far is that they feel like work arounds to something that I think should behave differently. If -Verbose is set in a call then it should get passed down through any subsequent calls. This does happen except when control is passed to another module (e.g. scope changes).

[2017-07-05 08:13] iainbrighton commented on #70
@PlagueHO I agree that they are all workarounds, but I don't see this being "fixed" outside of PowerShell 6.0 😢. It could just be that I'm a pessimist!

[2017-07-05 08:54] PlagueHO commented on #50
This was completed in https://github.com/PowerShell/xCertificate/pull/48

[2017-07-05 08:54] #50 closed

[2017-07-05 09:07] PlagueHO commented on #70
@iainbrighton - haha yes, that is pretty pessimistic, but I tend to agree with you. I am just hopeful that there is something I'm doing wrong somewhere and there is some "official" solution to this.

@Johlju - what do you reckon?

[2017-07-05 09:23] PlagueHO opened #78 "Add CodeCov.io support"
I thought I had already enabled this in this module, but it turns out I had forgotten.

[2017-07-05 09:40] Yvand commented on #73
Hi @PlagueHO it would be really great, but I wonder if it should be a separate resource, or a logic implemented directly in xCertReq resource? Or Both?

[2017-07-05 13:23] aboersch commented on #54
Hi, the above Certificate Template is based on a computer certificate. I am able to request it as the system account, though that issue does affect the the repro i reported

[2017-07-05 19:03] PlagueHO commented on #73
Hi @Yvand - I'm mainly basing that on other patterns we've implemented similar behavior in a separate resource. For example: in [xStorage](https://github.com/PowerShell/xStorage) we have the xWaitForDisk and xWaitForVolume.

This reduces complexity of the resource and makes it usable outside xCertReq.

We'd want to use a similar pattern here as well - something like this:
[code]
What do you think?

[2017-07-05 19:34] PlagueHO commented on #54
Hi @aboersch - hmm that is odd.

The error is actually occurring when converting the *.INF into a *.REQ. When you're doing this manually you're directly submitting the *.INF:
[code]

Can you try:
[code]

Does this create the *.REQ file?

[2017-07-05 20:11] johlju commented on #70
@iainbrighton Might be so, but rather not quick fix this by changing all of the resources. But if we could use the same approach to switch it once in the helper module I would go for that, instead of adding -Verbose to each Write-Verbose in the helper module.

Are we thinking that this is a bug, then maybe we should submit a uservoice for it, to raise the question? If the resource imports the modu

[2017-07-06 11:41] Yvand commented on #73
Hi @PlagueHO I understand, this makes sense.
Yes the resource looks great, I'm eager to test it :)

[2017-07-08 06:03] PlagueHO opened #80 "xCertReq: An Error Will occur when Autodetecting CA names where CA name includes space"

[2017-07-08 20:01] #68 closed

[2017-07-08 20:11] #75 closed

[2017-07-09 06:02] PlagueHO commented on #73
Hi @Yvand - I've completed this resource and submitted a PR for it. It may take a little while to get this PR reviewed and merged, so feel free to try out the version in my branch: https://github.com/PlagueHO/xCertificate/tree/Issue-73

[2017-07-10 07:32] PlagueHO opened #82 "Change Default KeyLength in xCertReq to 2048 bits"
As 1024 bits is no longer considered secure, xCertReq should default to issuing certificates with 2048 bits.

[2017-07-10 21:07] PlagueHO opened #83 "Remove CA abbreviation from parameter names"
As part of the move to HQRM the CA abbreviation should be removed from parameter names.

[2017-07-10 21:22] PlagueHO opened #84 "Convert to Auto-documentation Format"
Convert this resource module over to use the auto-documentation format from SharePointDsc/xNetworking/xStorage/xDFS.

[2017-07-10 21:25] PlagueHO opened #85 "Convert to meet HQRM guidelines"
This module needs to be modified to meet HQRM guidelines:
https://github.com/PowerShell/DscResources/blob/master/HighQualityModuleGuidelines.md

The tasks that need to be performed are:

- [x] MSFT_xCertReq
- [x] MSFT_xCertificateExport
- [x] MSFT_xCertificateImport
- [x] MSFT_xPfxImport
- [x] MSFT_xWaitForCertificateServices
- [x] CertificateDsc.Common
- [x] CertificateDsc.PDT
- [x] CertificateDs

[2017-07-11 04:03] #73 closed

[2017-07-11 06:32] Yvand commented on #73
Hi @PlagueHO yesterday I tested your PR and it worked fine in my environment, thank you very much for this!

[2017-07-11 07:05] PlagueHO commented on #73
Hi @Yvand - awesome! That is great to know!

FYI: We changed the name of the resource to xWaitForCertificateServices - so once this has been released you'll need to change your configs to use the new name. Sorry about that - we're trying to avoid using abbreviations in names now.

[2017-07-21 21:50] PlagueHO opened #87 "Remove BOM on PS1 and PSM1 files and optin to tests"
Optin to these tests once BOM is fixed:
Common Tests - Validate Module Files
Common Tests - Validate Script Files

[2017-07-22 20:16] #78 closed

[2017-07-24 06:51] #82 closed

[2017-07-31 07:11] PlagueHO opened #89 "Add .GitHub Contributing, Issue Template and Pull Request Template"
Add the files:
 - .github/CONTRIBUTING.md
- .github/ISSUE_TEMPLATE.md
- .github/PULL_REQUEST_TEMPLATE.md
To this repo to improve the amount of information being collected when issues are raised and to provide a checklist for reviewers/contributors when PR's are raised.

We should use the ones from [xFailOverCluster](https://github.com/PowerShell/xFailOverCluster/tree/dev/.github).

[2017-07-31 20:00] #89 closed

[2017-08-01 06:07] shurick81 opened #91 "Self-signed certificates?"
Is there a way to generate a self-signed SSL / signing certificate via DSC?

[2017-08-01 06:46] PlagueHO commented on #91
Hi @shurick81 - unfortunately not using xCertificate at this time. Although this could potentially be added as a new resource.

Alternately, for now you could use the Script or [xScript](https://github.com/PlagueHO/xPSDesiredStateConfiguration) resource to do this fairly easily.

The problem though is that we'd want to use the `New-SelfSignedCertificate` cmdlet to do the work in this resource, but

[2017-08-10 13:07] markusknappfr commented on #45
Any news on this issue?

[2017-08-11 07:30] #87 closed

[2017-08-11 07:34] PlagueHO commented on #80
Fixed in #81

[2017-08-11 07:34] #80 closed

[2017-08-12 10:15] #84 closed

[2017-08-17 09:52] PlagueHO opened #96 "Enable Wiki on Github Repo"
**Details of the scenario you tried and the problem that is occurring:**
The Wiki is not enabled on the xCertificate repo. I need this to be enabled because this repo is now auto-documentation enabled.

@kwirkykat or @zjalexander - can either of you please turn this on in the repo for me? Thank you

**The DSC configuration that is using the resource (as detailed as possible):**
N/A

**Version of t

[2017-08-17 17:30] kwirkykat commented on #96
@PlagueHO Done

[2017-08-17 17:30] #96 closed

[2017-08-25 08:20] PlagueHO opened #98 "Link Readme.md to Wiki Entries"
**Details of the scenario you tried and the problem that is occurring:**
It is not obvious from the README.MD that there is a Wiki containing the full documentation.

**The DSC configuration that is using the resource (as detailed as possible):**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
N/A

**Version of the DSC module you're using, or 'dev' if you're

[2017-08-31 07:32] #98 closed

[2017-09-01 21:21] PlagueHO opened #100 "Fix Failing Tests due to changes in DSCResource.Tests"
A recent change in DSCResource.Tests (https://github.com/PowerShell/DscResource.Tests/pull/186) caused the unit tests for the DSCResource.Tests module itself to be executed during the test run in this module.

For non-harness type modules this is being fixed in DSCResource.Tests itself, but for harness type, this must be fixed using this suggested change:
https://github.com/PowerShell/xNetworking/

[2017-09-02 11:29] #100 closed

[2017-09-07 14:54] kensykora opened #102 "Remove direct edit access to the wiki"
I don't think I should have direct edit access to the wiki. I was expecting to create a pull request for the wiki fix, but it let me edit it directly instead. You probably need to fix permissions here.

[2017-09-09 01:24] PlagueHO commented on #102
Hi @kwirkykat - are you able to prevent direct editing of the Wiki for this repo (and xStorage, xNetworking and xDFS) to collaborators only as @kensykora suggested?

@kensykora - thanks for pointing this out. Were you needing to edit the front page or one of the "Resource" pages? The resource pages are all automatically generated so you'd not want to edit those, but instead submit a PR to change t

[2017-09-09 14:20] kensykora commented on #102
I made this edit here: https://github.com/PowerShell/xCertificate/wiki/xPfxImport/_compare/3ac2f675611b2d0a3382d2ee72590dd6f5be4093

Thanks for this module, it works great!

[2017-09-09 15:40] johlju commented on #102
https://help.github.com/articles/about-github-wikis/

I guess "Restrict edits to collaborators only" should be selected, [Changing access permissions for wikis](https://help.github.com/articles/changing-access-permissions-for-wikis).

[2017-09-09 19:35] PlagueHO commented on #102
Thanks @kensykora ! Great catch on the edit too - I'll need to submit a PR to get this fixed in this repo itself though because this file is generated automatically every time the resource kit is released. So your correction would be reverted. I'll raise an issue and submit a PR.

[2017-09-09 19:37] PlagueHO opened #103 "Auto-documentation parameters generated incorrectly for PFXImport"
**Details of the scenario you tried and the problem that is occurring:**
The Wiki documentation for PFXImport is generated incorrectly for the credential parameter. This is because the description contains [PSCredential] which trips up the generation code.

**The DSC configuration that is using the resource (as detailed as possible):**
PFXImport

**Version of the Operating System and PowerShell th

[2017-09-09 20:01] PlagueHO commented on #102
I have submitted the PR to fix this in the main repo: #104

[2017-09-11 20:23] kwirkykat commented on #102
@PlagueHO Updated the setting for the wiki. Can you check that you can still edit it before I change it on the other repos as well?

[2017-09-12 06:44] PlagueHO commented on #102
@kwirkykat - I can still edit OK! @johlju - could you do a quick negative test to ensure you _can't_ edit the Wiki anymore?

[2017-09-12 08:03] johlju commented on #102
I don't have write access to the wiki. So it seems it works. :)

[2017-09-12 08:56] PlagueHO commented on #102
Awesome! Thanks @Johlju. @kwirkykat, I think you can go ahead and make the same change to the other repos. I'll close this issue now.

[2017-09-12 08:56] #102 closed

[2017-10-02 08:32] StefanSchoof commented on #47
I build for my use this (ugly) workaround:

[code]

[2017-10-12 06:55] #103 closed

[2017-10-12 07:35] PlagueHO opened #105 "Migrate Pester Test Syntax from v3 -> v4"
**Details of the scenario you tried and the problem that is occurring:**
As of Pester v4 the syntax of the `Should` cmdlet has changed from `Should Be` to `Should -Be`.

There is a helpful script that can be used to easily perform the conversion:
https://gist.github.com/indented-automation/aeb14825e39dd8849beee44f681fbab3

This script should be used to correct the Pester syntax.

[2017-11-03 15:32] mrpullen opened #106 "xCertificateImport / xPfxImport: -- Thumbprint Key is redundant"
**Details of the scenario you tried and the problem that is occurring:**
By requiring thumbprint you create an additional step that is dependent on the user to identify the thumbprint of the certificate before importing the certificate. This information can be found in the certificate when you supply the path.

I understand that the thumbprint is quite useful when Ensure = Absent, so it should be

[2017-11-03 20:46] PlagueHO commented on #106
Hi @mrpullen - this is definitely a good use case and I can see the benefit in implementing it.

We currently use the `Thumbprint` to determine if the certificate has or has not been imported into the certificate store. However, it is fairly easy (at least for x509 CER files) to pull the thumbprint out of the CER file (I think I've implemented something like for PKCS12 PFX too). This could potenti

[2017-11-09 14:25] mcmcghee opened #107 "xPfxImport: Error with FIPS Mode"
**Details of the scenario you tried and the problem that is occurring:**
With FIPS mode enabled, all xPfxImport and xCertificateImport in my configuration fail.  I think it may be a resource issue and not DSC itself, as these are the only resources that are failing. Below is the error:

**Version of the Operating System and PowerShell the DSC Target Node is running:**
Server 2016, WMF 5.1

**Versi

[2017-11-09 14:53] mcmcghee commented on #107
Issue appears to be in the Test-Thumbprint function.

`
Test-Thumbprint -Thumbprint "thumbprint"
`
[code]

[2017-11-16 16:23] rodolfosalgado commented on #46
any update on this ?

[2017-11-17 06:33] PlagueHO commented on #46
Hi @rodolfosalgado - the change for this actually got submitted here: https://github.com/PowerShell/xCertificate/pull/55

However it was never completed. I plan to pick this up and complete it but I've not had time yet.

[2017-11-17 22:36] PlagueHO commented on #46
I might try and get to this one tomorrow if I have time.

[2017-11-18 20:12] #105 closed

[2017-11-24 20:16] #46 closed

[2017-12-02 21:46] hackjammer opened #111 "xCertReq: Template names containing spaces incorrectly handled"
If a template name contains a space, the template name is not correctly sent / recognised by the CA due to a lack of quoting in the certificate request.

OS: Windows Server 2012
Module version: 3.0.0.0

[2017-12-06 15:12] mhenderson-so opened #113 "xCertReq: Permit ECDH key-lengths"
**Details of the scenario you tried and the problem that is occurring:**
When attempting to use xCertReq to request an ECDH certificate, you typically use a key length of 192, 224, 256, 384 or 521. Currently if you try to specify one of those key lengths, the module throws an error of:
[code]
Patching this in for a one-off is simple enough, but it is a "dumb" patch that permits any of the key size

[2017-12-07 07:25] PlagueHO commented on #113
Hi @mhenderson-so - good call out.

I think the best method is for the parameter to support all the available key sizes for RSA and EDCH keys but we will need to create an `Assert-ResourceProperty` function that will be called inside `Test-TargetResource` and `Set-TargetResource` that will validate the parameter combination.

I'll take a look at implementing this over this weekend.

[2017-12-08 19:58] PlagueHO opened #114 "Convert Module Name to CertificateDsc"
As per recent DSC Resource Naming guidelines changes:
https://github.com/PowerShell/DscResources/blob/master/Naming.md

[2017-12-11 08:13] PlagueHO opened #115 "Set Github Repository Title"
@kwirkykat - can you set the Github repository title for this repo to:
This DSC Resource module can be used to simplify administration of certificates on a Windows Server.

Is it also worth setting the website to something like: https://blogs.msdn.microsoft.com/powershell/tag/dsc-resource-kit/

Or to the main DSC Resource Kit repo on Github?

Thank you!

[2017-12-13 16:54] hackjammer opened #116 "xCertificateExport: pfx with matchsource enabled errors"
The following line throws an error:
https://github.com/PowerShell/xCertificate/blob/4475c79cb3aa59b25eefacf48d3c35a717722c96/Modules/xCertificate/DSCResources/MSFT_xCertificateExport/MSFT_xCertificateExport.psm1#L446

As per the documentation of this method, the second parameter should be a string, not a credential object:
https://msdn.microsoft.com/en-us/library/ms148499(v=vs.110).aspx

Windows S

[2017-12-13 17:16] hackjammer commented on #116
As per the integration tests, there is a version that supports a securestring as well - I suggest we use this:

https://msdn.microsoft.com/en-us/library/ms148441(v=vs.110).aspx

[2017-12-13 17:53] kwirkykat commented on #115
@PlagueHO Done

[2017-12-14 06:07] PlagueHO commented on #115
Awesome! Thanks @kwirkykat

[2017-12-14 06:07] #115 closed

[2017-12-16 06:12] PlagueHO commented on #116
Thanks for raising this @hackjammer - great catch!

[2017-12-16 07:10] PlagueHO commented on #116
Hi @hackjammer - unfortunately the X509Certificate2Collection.Import Method does not support SecureString - only string. So you'll need to use `$Password.GetNetworkCredential().Password` to return the password. I'll add the info in the PR comments.

[2017-12-20 05:44] PlagueHO commented on #111
Fixed by PR #112

[2017-12-20 05:44] #111 closed

[2018-01-04 22:42] mgreenegit commented on #91
Actually this wouldn't be too bad.  CertReq.exe handles this if requesttype is 'Cert'.  We would need to add a parameter, either a boolean for self-signed or just expose RequestType and validate against a list.  Thoughts?
https://technet.microsoft.com/en-us/library/dn296456(v=ws.11).aspx

[2018-01-05 08:38] johlju commented on #91
Since the resource already using the CertReq.exe to do work, I don't see a problem extending it to do this as well. I would expect the resource to be able to do anything CertReq.exe is capable of (eventually). It that sense I think exposing RequestType is the right move (using a ValidateSet).

When parameter `RequestType` is `'Cert'` I guess there need to be a new code path. When running `certreq.

[2018-01-05 09:16] PlagueHO commented on #91
I didn't actually realize certreq.exe could be used to generate self-signed certs. So if it can do this then we should definitely make use of it. I reckon it wouldn't be too difficult to stitch this into xCertReq.

@johlju - good thinking on needing to add this to the trusted store - but we'd probably want to make this optional (by adding a switch). Because sometimes you might want to create the c

[2018-01-28 04:21] timhaintz commented on #114
Sign me up. Thanks. :octocat:

[2018-01-28 05:24] PlagueHO commented on #114
All yours! Thanks @timhaintz !

[2018-01-28 05:25] PlagueHO commented on #114
Maybe do this one second, because I wan't to try and get a couple of the open PR's for this one (#119, #117, #108) through first. I'll try and get these moving again this weekend. I'm going to do the PR for #119 tonight.

[2018-02-10 20:57] timhaintz commented on #114
Morning @PlagueHO yell out (bump) when you get all of your PR's done and I can have a look at this one too. Thanks.

[2018-02-10 22:55] PlagueHO commented on #114
Thanks @timhaintz - I'll give the other submitters a couple of days and if nothing happens we'll just move forward with the rename.

[2018-02-20 06:37] Resident-Alien opened #121 "Multiple certificates with the same name"
For DSC MOF encryption and WinRM HTTPS all of my servers end up with 2 certificates. Unfortunately the method in which get xcertreg uses to determine if the cert already exists is simply the subject name and the CA's name. So when you have two certs with the same name but each has a different ability and unique friendly name the DSC gets very confused and keeps re-issuing certs. The common issue i

[2018-02-20 18:25] dchristian3188 opened #122 "Test-Thumbprint Updated to not throw when FIPS compliant algorithms enabled"
The current implementation of the the Test-Thumbprint helper function currently throws a terminating error when FIPS compliant algorithms are enabled. FIPS disables certain algorithms and prevents dot net from using them. To test set ```HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Lsa\FipsAlgorithmPolicy\enabled``` to ```1```.

This is the part of code that is currenlty causing trouble.

[c

[2018-02-28 10:01] timhaintz commented on #114
@PlagueHO I noticed #119 got merged. Did you want me to wait for the others? If it messes up the process me going ahead, happy to wait. Up to you. Thanks.

[2018-03-01 07:07] PlagueHO commented on #114
Hi @timhaintz - it looks like the other PR's aren't going to go through anytime soon, so maybe just go ahead and do this one. :grin:

I'm not sure when @kwirkykat will get a chance to do the repo rename though, so no rush! Thanks again for helping out (I've had almost no time at all lately to do anything DSC - too busy with day job :cry:)

[2018-03-01 21:15] timhaintz commented on #114
No worries @PlagueHO will get onto it this weekend.
I saw you released the updated Cosmos DB Module. Nice! You have been busy. :D
Thanks for your help with all of this. Great way to learn the eco system.

[2018-03-02 19:44] PlagueHO commented on #114
Thanks again for all your help @timhaintz ! Nice to see attention on the CosmosDB module! :grin: I'm at the MVP summit in US all this week so might get a bit of "non-work" time to catch up on DSC stuff (hopefully).

[2018-03-03 22:16] timhaintz commented on #114
Question about $script:ModulesToTest in the file ModuleConflict.Tests.ps1, it refers to the xDFS module. I've just renamed that one to DFSDsc but it hasn't been merged with master yet. Do you want me to update them to what they will be or keep them as they currently are? Thanks @PlagueHO . Have a great time at the MVP summit. Would love to go one day. :)

[2018-03-21 14:27] bennbatt8112 opened #125 "xPfxImport: Parameter Description"
**Details of the scenario you tried and the problem that is occurring:**
Hi, mainly looking to clarify the descriptions inside this DSC configuration.. I'm sure the code is fine.

"Path" - _The Windows Certificate Store Location to import the PFX file to._
"Location" - _The Windows Certificate Store Location to import the PFX file to._
"Store - _The Windows Certificate Store Name to import the PFX

[2018-03-22 07:07] PlagueHO commented on #125
Hi @bennbatt8112 - looks like we have an issue with the documentation here - good catch. The `Path` should actually read something like "The path to the PFX file to import to the Windows Certificate Store". So you are quite correct.

I'll submit a PR to get this fixed once the other PR's are through.

[2018-03-26 07:46] guillemsola commented on #47
As per my experience, current powershell implementation cannot be used to import a PFX certificate and then assign permissions. As this DSC module is using the standard PS mechanism is affected too.

My current alternative is not to use the DSC module to import a certificate where I need special rights.

[code]

[2018-03-27 14:23] baldator opened #126 "xPfxImpot: fail to import multiple certificates in the same configuration"
**Details of the scenario you tried and the problem that is occurring:**
If I try to import multiple certificate in the same configuration or if I run the same configuration twice quickly I get the following error:

PowerShell DSC resource MSFT_xPfxImport  failed to execute Set-TargetResource functionality with error message: Cannot validate argument on parameter 'Thumbprint'. Exception calling "G

[2018-03-29 22:48] PlagueHO commented on #126
Hi @baldator - just so I can understand the issue, you're doing something like this in your config (or running the above config twice quickly):
[code]
There is only one place that this error looks like it could occur and that is retrieving the hash providers for validating this thumbprint.

I also did some additional testing on Test-Thumbprint and it did show up another issue (completely not relat

[2018-03-29 22:53] PlagueHO opened #127 "Test-Thumbprint Displays Not Valid Hash Message when Hash is Valid"
**Details of the scenario you tried and the problem that is occurring:**
`Test-Thumbprint` displays a verbose message stating hash is invalid when it is valid and vice versa. It also does not display hash algorithm that fails.

![image](https://user-images.githubusercontent.com/7589164/38117800-8761a3d8-3413-11e8-8297-578633b72e3b.png)

I'll submit a PR.

**The DSC configuration that is using the

[2018-03-29 22:56] PlagueHO commented on #122
Thanks for submitting this @dchristian3188 - sorry it has taken so long! There is a PR going through to get this fixed, but it looks like it has been abandoned, so I'll pick it up and get it through. Thanks again!

[2018-03-30 08:26] baldator commented on #126
Hi @PlagueHO,
Thank you for your answer. I'm actually looping on xPfxImport, so I'm executing a configuration similar to the one you posted.

I tried to import the module CertificateDSc.Common.psm1 and to run Test-Thumbprint twice (on the same server experiencing the issue): the function runs as expected with no errors. However if I run it in the DSC context it fails the second exection.

Please t

[2018-04-05 08:10] PlagueHO opened #128 "Set Optional Failure Flags for all PSSA Tests"
Add the following opt-in settings to enable CI failure on violation of these PSSA rule types:

- Common Tests - Required Script Analyzer Rules
- Common Tests - Flagged Script Analyzer Rules
- Common Tests - New Error-Level Script Analyzer Rules
- Common Tests - Custom Script Analyzer Rules

[2018-04-19 20:12] mattbowes opened #129 "xPfxImport does not import after sysprep"
**Details of the scenario you tried and the problem that is occurring:**

After syspreping a server, the certificate is left in the cert store but the private key is removed during the sysprep process. xPfxImport only checks to ensure the thumbprint is present. It does not check to see if the certificate has a private key so it never imports the pfx file and the certificate.

**The DSC configurati

[2018-04-26 08:02] PlagueHO commented on #114
Completed!

[2018-04-26 08:02] #114 closed

[2018-05-01 06:32] PlagueHO commented on #129
Hi @mattbowes - ah, this is a great catch.

We should be able to fix this by changing the `Test-TargetResource` to check the Private Key with something like this:
[code]

Might have a look at this tonight.

[2018-05-03 07:05] #125 closed

[2018-05-03 07:05] #127 closed

[2018-05-03 07:10] PlagueHO opened #132 "Merge Issue in CHANGELOG.MD from PR #130"
The CHANGELOG.MD changes in PR #130 ended up going into 4.0.0.0 section instead of Unreleased.

This needs to be corrected.

[2018-05-03 07:35] PlagueHO commented on #13
Is this feature still needed? I think you can now import certificates from Key Vault directly into Azure VMs via the ARM template.

[2018-05-03 15:33] craig-martin commented on #13
Thanks for the prompt, I do not need this anymore.

[2018-05-03 15:33] #13 closed

[2018-05-04 06:37] #132 closed

[2018-05-08 06:51] PlagueHO commented on #107
This has now been completed by #108

[2018-05-08 06:51] #107 closed

[2018-05-24 19:55] mattbowes commented on #129
@PlagueHO checking `.hasPrivateKey` still wont work after a sysprep. It returns true even though the private key is gone.
If you run something like
`(gci cert:\localmachine\my | where thumbprint -eq $thumb).HasPrivateKey`
`(gci cert:\localmachine\my | where thumbprint -eq $thumb).PrivateKey.CspKeyContainerInfo`
you will see that `.hasPrivateKey` returns `true` but `CSPKeyContainerInfo` returns not

[2018-05-24 20:05] mattbowes commented on #129
I MSFT_PfxImport.psm1 and created a pull request. I think that will fix it

[2018-05-30 13:48] shurick81 commented on #91
Hi, do you know if this is still on the table? I tried to find any other DSC resources for generating self-signed certs, but no luck so far.

[2018-05-31 06:42] PlagueHO commented on #91
Hi @shurick81 - yes, this is definitely on the table. Ideally someone in the community will have one already that they want to contribute, but if not it'll be something I get to when I have the time. Sorry it does take so long though.

[2018-05-31 15:51] johlju commented on #91
Relabeled to Help wanted so that someone in the community can run with this.

[2018-06-08 02:22] TraGicCode opened #136 "Certificates should ignore the Path Parameter when ensure=absent"
pfximport and most likely all other certificate resources should not fail when ensure is absent and the file doesn't exist on disk.  This creates a bit of a pain when trying to remove a certificate because you have to do a run with ensure absent on the certificate but ensure present on the file on disk then later push the change to remove the pfximport certificate resource and make the file go to

[2018-06-08 08:20] PlagueHO commented on #136
Thanks for raising this @TraGicCode - looking at the code, it certainly looks like this is the case. Should be a simple fix, but I'll want to make sure the tests to a better job of covering these scenarios.

[2018-06-09 20:44] PlagueHO commented on #136
Working on this one now.

[2018-06-15 07:50] PlagueHO opened #139 "Add Code of Conduct"
See https://github.com/PowerShell/DscResources/issues/337#issuecomment-395776698

[2018-06-20 08:16] #139 closed

[2018-07-14 09:34] PlagueHO opened #142 "Refactor Repository Folder Structure so Harness not Required"
See https://github.com/PowerShell/DscResource.Tests/issues/225

[2018-07-20 12:11] johlju opened #144 "CertificateImport: Remove non-mandatory parameter `Ensure` from the `Get-TargetResource` function"
**Details of the scenario you tried and the problem that is occurring:**
In the resource CertificateImport there should be no need to have the non-mandatory parameter `Ensure` in the `Get-TargetResource` function.

https://github.com/PowerShell/CertificateDsc/blob/6906fc5b31a783a899260c9c9d4ba84a02dd4c14/Modules/CertificateDsc/DSCResources/MSFT_CertificateImport/MSFT_CertificateImport.psm1#L65-L68

[2018-07-20 12:29] johlju opened #145 "WaitForCertificateServices: Add read-only parameter 'Available'"
**Details of the scenario you tried and the problem that is occurring:**
Suggest we add a read-only parameter to the WaitForCertificateServices resource. That way the `Get-TargetResource` could call `Test-TargetResource` and return the result (the actual current state) of the certificate services in the property `Available` when calling `Get-DscConfiguration`.

**The DSC configuration that is usin

[2018-07-20 18:41] kinwolfqc opened #146 "PfxImport - The certificate cannot be found in the local machine certificate store"
**Details of the scenario you tried and the problem that is occurring:**
Trying to import a PFX

**The DSC configuration that is using the resource (as detailed as possible):**

**Version of the Operating System and PowerShell the DSC Target Node is running:**
Windows 2016 Powershell 5
**Version of the DSC module you're using, or 'dev' if you're using current dev branch:**
4.1.0.0

Strangely, a pa

[2018-07-20 21:39] PlagueHO commented on #146
Thank you for raising this @kinwolfqc. I suspect this issue might have been caused by this PR https://github.com/PowerShell/CertificateDsc/pull/130. It was intended to fix a problem where if the certificate existed but the private key was not available then it would be reinstalled. I'm doing some work on this resource this weekend so I'll see if I can replicate and resolve.

[2018-07-24 09:23] #142 closed

[2018-07-31 12:53] tlavoieNGPVAN commented on #126
I also ran into this bug, I was able to work around the issue by changing the validation on thumbprints
from:
[ValidateScript( { $_ | Test-Thumbprint } )]
to:
[ValidateNotNullOrEmpty()]

This allowed multiple certificates to install without issue.

[2018-08-01 16:14] rcarpenter79 opened #147 "Get-CertificateTemplateName returns certificate displayname instead of name when Oid is 1.3.6.1.4.1.311.21.7 Certificate Template Information"
I'm having problems with CertReq when specifying the template name. If I use the name of the template then the certificate request gets the certificate but the test fails to match the certificate to the supplied template name the second time DSC runs.
If I supply the template display name the certificate request is rejected.

I believe the problem occurs when then the certificate that is requested

[2018-08-02 08:57] johlju commented on #147
Can you please provide the configuration to reproduce this, obfuscate any sensitive information? Also, can you provide the verbose log output when you get the error?

/cc @PlagueHO

[2018-08-02 10:08] rcarpenter79 commented on #147
This is the configuration I used that shows the problem.

[code]

[2018-08-02 10:15] rcarpenter79 commented on #147
This is the verbose output from that configuration. The Test shows a problem on line 16 and lists the certificate template's Display Name. On line 38 it then mentions the certificate template by Name.

[code]

[2018-08-02 10:45] rcarpenter79 commented on #147
This is what the certificate looks when I get the extension for the template information.
[code]

[2018-08-03 09:52] johlju opened #149 "Typo in filename CertificateDSc.Common.psm1"
**Details of the scenario you tried and the problem that is occurring:**
There is a typo in the filename 'CertificateDSc.Common.psm1', it should probably be 'CertificateDsc.Common.psm1' (lower-case 'sc' in 'Dsc').

**The DSC configuration that is using the resource (as detailed as possible):**
n/a

**Version of the Operating System and PowerShell the DSC Target Node is running:**
n/a

**Version of

[2018-08-06 06:36] PlagueHO opened #150 "Correct Configuration Names in Examples"
The configuration name in the Examples should be updated to match the file name (except of the number prefix).

[2018-08-07 10:26] #149 closed

[2018-08-07 10:26] #150 closed

[2018-08-16 01:16] NReilingh opened #153 "PfxImport fails for files encrypted with AES256-SHA256"
**Details of the scenario you tried and the problem that is occurring:**
When using the certificate export wizard, you are given the option to use TripleDES-SHA1 encryption or AES256-SHA256 encryption to protect the certificate using a password and/or AD DS groups and users. Set-TargetResource for PfxImport of an AES256-encrypted file fails with "The PFX file you are trying to import requires eith

[2018-08-16 09:14] johlju commented on #153
Just so I'm following you, you solved it by changing to the TripleDES-SHA1 encryption, and "solve a bunch of issues related to user groups and share access". But if you just switched to the encryption AES256-SHA256 the resource fails?

Did you have to code changes to get the TripleDES-SHA1 encryption scenario working? If so you are more than welcome to send in a PR for those changes.

Also a docum

[2018-08-16 12:03] NReilingh commented on #153
@johlju Sorry, I guess I unnecessarily confused the issue. The user group and share issues I mentioned are irrelevant, and not related to the CertificateDsc resource (and at the end of the day they were more user misunderstandings than functionality issues).

So to clarify, importing a TripleDES-SHA1 -encrypted certificate works as expected with no code changes or workarounds. The issue I am repor

[2018-08-16 13:08] johlju commented on #153
Thank you for reporting the error btw!

To clarify more. 🙂  When you say "inaccurate error message". Does that mean that you would expected it to throw an error, just not that error message text? Or are you expecting it to not throw an error and import the certificate?

[2018-08-16 13:18] NReilingh commented on #153
From the perspective of a user who doesn’t know any better, the “expected behavior” would be for the import to succeed and not throw an error. :-)

But if there are implementation details or other limitations preventing this, then an error about the encryption mechanism being not supported would be acceptable.

If we can’t _tell_ what encryption mechanism is used until we’ve got a successful impor

[2018-08-16 20:33] PlagueHO commented on #153
Sorry for taking so long to look into this, but I'll check this out today. This is a limitation with the underlying `Import-PfxCertificate` cmdlet that comes with Windows. We use this cmdlet to perform the import in the DSC Resource.

@NReilingh - have you exported the certificate using `Export-PfxCertificate -CryptoAlgorithmOption AES256_SHA256` as well, or just used the Wizard?

I should be able

[2018-08-17 06:04] PlagueHO commented on #153
Hi @NReilingh - as I suspected, there are different versions of the `Import-PfxCertificate` and `Export-PfxCertificate`. The versions that come with Windows Server 2016 and Windows 10 1703 and earlier do not support importing a PFX generated using `AES256_SHA256` and result in the following error:
![image](https://user-images.githubusercontent.com/7589164/44249625-d16f2c80-a244-11e8-9cd9-251632079

[2018-08-17 06:12] johlju commented on #153
@PlagueHO I agree that it would be sufficient to just document this in the README.md. A `## Requirements` section maybe? The requirement is to use build 1703 or newer for `AES256_SHA256`.
Example here https://github.com/PowerShell/SqlServerDsc#requirements-13

[2018-08-18 07:07] PlagueHO opened #155 "Update Pull Request and Issue Templates Copied from xPSDesiredStateConfiguration"
Copy the files:
[code]

From:
https://github.com/PowerShell/xPSDesiredStateConfiguration/pull/438

[2018-08-18 23:16] #153 closed

[2018-08-28 09:20] PlagueHO opened #157 "Add .VSCode Settings for PSScriptAnalyzer Rules"
See https://github.com/PowerShell/DscResources/pull/424

[2018-08-31 09:51] #157 closed

[2018-09-07 13:15] llowevad opened #160 "Thumbprint is not a valid hash"
#### Details of the scenario you tried and the problem that is occurring
Using PFXImport I am getting an invalid hash error on the thumbprint. I believe this is coming from the validateset on test-thumbprint. I am able to run it manually on the server and 3 of the 8 valid algorithms so the hash below as valid, yet I cannot get past the test when running under DSC LCM.

And since this test happens

[2018-09-09 07:42] PlagueHO commented on #160
Hi @llowevad ,

Thanks for raising this. Do you know which algorithm was used to generate the thumbprint?

We did add some additional algorithm support in 4.1.0.0, but there must be some others that aren't supported yet. I'll look into it as soon as I can (this week).

[2018-09-09 08:01] PlagueHO commented on #160
@llowevad - is it possible that this issue is the same as this one here: https://github.com/PowerShell/CertificateDsc/issues/153 ? If you try and import this certificate using `Import-PfxCertificate` on the WS 2016 1607 machine above does it succeed?

[2018-09-10 14:44] llowevad commented on #160
Here I run the Test-Thumbprint manually. I adjusted the code to print out good and bad matches. Green are positive matches, which should result in true (meaning the thumbprint) should of passed

[cid:image001.png@01D448F2.9252C350]

Yes, import-pfxcertificate works
Import-PfxCertificate -FilePath "C:\Binaries\Certificates\Contoso_com.pfx" -CertStoreLocation "Cert:\LocalMachine\WebHosting" -Passwor

[2018-09-10 17:07] llowevad commented on #160
Looks like it was a data issue. I checked for Unicode characters previously but did not see any in the checks that I did. I didn't see it come up in an error message until I removed the validateset's manually for both thumbprint and certpath. When I did I seen the following in an error...

![pfximporterror](https://user-images.githubusercontent.com/8823690/45312526-5246de80-b4fa-11e8-91bd-1465d418

[2018-09-10 20:17] PlagueHO commented on #160
Oh right! Cool - thanks for the update @llowevad - that is a sneaky one. I'll close this.

[2018-09-10 20:17] #160 closed

[2018-09-25 15:18] JamesHoC commented on #146
Any news on this "bug" because PfxImport can be a great resource for my DSC projects.

[2018-09-26 07:17] PlagueHO commented on #146
Doh! Looks like I didn't get to this. I'm going to give it another try this weekend.

[2018-10-02 16:34] aromano2 opened #161 "CertificateImport fails to import certificate to ClientAuthIssuer store"
ISSUE TITLE:
    Please prefix the issue title with the resource name, e.g.
    'CertificateImport: fails to import certificate to ClientAuthIssuer store if the store has never been "opened"'

ISSUE DESCRIPTION (this template):
CertificateImport fails to import certificate to ClientAuthIssuer store if the store has never been "opened"

#### Details of the scenario you tried and the problem that is

[2018-10-03 21:40] djwork opened #163 "CertReq: Test-TargetResource incorrectly handles CertificateTemplate when Template's name and display name differ"
#### Details of the scenario you tried and the problem that is occurring
Creating a cert based on a template where the Template's name and display name differ.
- We created a certificate template
  - Name: DSCEncryption
  - Display Name: DSC Encryption
    Note the space in the display name
- On a development server we created a test configuration with a CertReq
[code]
- Applied the configuration

[2018-10-11 00:56] dresken commented on #163
I have experienced the same issue - I did some further looking today.

With this module, if the CertificateTemplate attribute is provided with either the "cn", "displayName" or "msPKI-Cert-Template-OID" it will successfully create a certificate from the required template.

However when retrieving the name of an existing certificate that uses only the "Certificate template extension (1.3.6.1.4.1.31

[2018-10-11 15:21] sgreenlee11 commented on #126
I also see the same issue using Windows Server 2016 and the Azure Pull Service. What I've found is that if I have a configuration with just the xPfxImport resource the issue does no repro. It's only when this resource is added to a configuration with many other resources that it starts to pop up. I've tried narrowing down to specific resources, but so far have not been able to.

[2018-10-29 09:57] timhaintz opened #164 "Update LICENSE file to match the Microsoft Open Source Team standard."
In new repositories that are created by the Microsoft Open Source Team, the LICENSE file does not contain the year in the copyright "header".

[2018-11-10 02:39] dresken commented on #163
That's a bad attitude to have there stale bot.

Happy for someone to mark this appropriately.

Cheers

[2018-11-10 06:39] PlagueHO commented on #161
Sorry about the delay in looking at this one @aromano2 - I've not had much time lately :cry:

Do you get the same issue if you just run the `Import-Certificate -CertStoreLocation cert:\localmachine\ClientAuthIssuer ...` cmdet outside of DSC? This does sound like a bug in the `Import-Certificate` cmdlet though. Do you know if this happens in Windows Server 2016 as well?

[2018-11-16 17:39] aromano2 commented on #161
Yes the import fails outside of Dsc as well. Have not had a chance to test on Server 2016

[2018-11-16 23:56] PlagueHO commented on #161
Thanks for clarifying that. So it sounds like your proposed solution to use `Import-CertificateEx` is the best way to resolve it. I'll get a review done as soon as I can.

[2018-11-20 18:51] darkonejr opened #166 "CertReq Idempotency?"
Is there a way to use CertReq in an idempotent way?  I.E.  only request/accept the cert if it can't find it, or it's invalid.  I'd even be willing to live with something that only satisfies the first condition.

[2018-11-21 18:10] darkonejr commented on #163
Bumping this, this is effectively making the certreq resource not idempotent.  Hopefully people are paying attention to issues here....

[2018-11-21 23:08] PlagueHO commented on #163
Hi There - I'm definitely paying attention, I just haven't had a lot of free time to put into DSC as of late due to work commitments, but this is on my todo list to look into unless another community member gets there first.

[2018-11-27 22:37] joshan1120 opened #167 "Cannot add Cert to CurrentUser/My"
#### Details of the scenario you tried and the problem that is occurring

I need to add a Cert to the "CurrentUser\My" location. It works perfect when adding to "LocalMachine\My" but I need it to be in "CurrentUser. It throws no errors, but the cert simply is not there. If I only change the line"

Location = 'LocalMachine'
to
Location = 'CurrentUser'

The cert if not there. If I leave as LocalMach

[2018-11-27 22:48] joshan1120 commented on #167
Here is it working when only changing the Location to "LocalMachine". You can see it doing the set. So the test is telling it the cert exists when it does not when doing "CurrentUser" and it never applies the Set.

VERBOSE: [LaptopName ]:                            [[PfxImport]VpnCert.pfx] Set-TargetResource: Setting Pfx 'xxxx' existence in 'Cert:\LocalMachine\My'. (PI000
6)
VERBOSE: [LaptopName ]

[2018-11-28 18:13] PlagueHO commented on #166
Hi @darkonejr - the CertReq resource does already behave this way. It looks for a valid cert that matches the subject and issued by the specified CA. If a matching cert is found then it will compare things like SAN, Template and Friendly Name. If any of these don't match then the cert is considered to be different and a new one requested.

Thinking about this it would probably be worth comparing o

[2018-11-28 18:17] PlagueHO commented on #167
Hi There @joshan1120 - when the DSC LCM runs it actually executes under the System account context and isn't executing as you. You can force a resource to run under the context of a different user by adding `PSDscRunAsCredential`. See https://docs.microsoft.com/en-us/powershell/dsc/runasuser

[2018-11-28 18:17] PlagueHO commented on #164
Closed by #165

[2018-11-28 18:17] #164 closed

[2018-11-28 18:18] joshan1120 commented on #167
that makes sense, thank you!!

[2018-11-28 18:18] #167 closed

[2018-11-28 18:19] PlagueHO commented on #167
No problem! Happy to help :grin:

[2018-11-28 18:55] darkonejr commented on #166
Yeah, I wrote this before I discovered #163 ... that's what's breaking the idempotency for me.

[2018-12-01 08:30] PlagueHO opened #168 "Opt-In to Meta Tests"
This resource should be opted into addition meta tests:
[code]

[2018-12-01 09:51] #168 closed

[2018-12-03 05:38] #116 closed

[2018-12-04 13:26] apraamsm opened #171 "Check for certificate expiration is not working"
#### Details of the scenario you tried and the problem that is occurring
When a new certificate is enrolled it is after that not checked correctly for expiration.
The following check is done;

[code]

During tests the certificate did not renew

I believe that when you check on NotAfter the AddDays value must be 30 instead of -30

[code]

#### Verbose logs showing the problem

I dont have verbose l

[2018-12-04 13:38] apraamsm opened #172 "Cert renewal 'inf file' is not in the correct format"
#### Details of the scenario you tried and the problem that is occurring

When the module is used with autorenewal option to $true the inf file generated to renew the cert is not in the correct format.
The value for the inf file RenewalCert = $Thumbprint is in the wrong section of the inf file.

It is written in the [Extensions] section, but that is not the correct section for this to work.
It mus

[2018-12-05 14:09] The-real-Urb commented on #172
Same issue here. I came to the same conclusion.

[2018-12-05 15:03] The-real-Urb opened #173 "CertReq: not idempotent when using Subject with comma-separated-list"
When using Subject with multiple key-value pairs, the keys have to be sorted in the same order as retrieved from the active certificate. If not, a new certificate will be generated every time the script is run.

example malfunctioning Subject:
Subject = "CN=xyz.msdn.com, E=xyz@msdn.com, OU=Organisation Unit, O=Organisation, L=Locality, S=State, C=country"

example working Subject:
Subject = "E=xyz

[2018-12-06 09:03] PlagueHO commented on #171
Hi @apraamsm - thank you for raising this. I believe you could be right about there being some problem in the date logic there. But looking through the tests (see https://github.com/PowerShell/CertificateDsc/blob/dev/Tests/Unit/MSFT_CertReq.Tests.ps1#L500) there appears to be some tests that are passing that I'd expect to fail on this condition.

So I think I'll want to do some digging into the un

[2018-12-06 09:06] PlagueHO commented on #172
@apraamsm - you are quite correct! I'll sort this out over the weekend when I fix up the tests for the auto renewal.

[2018-12-06 09:07] PlagueHO commented on #173
Thank you for raising this @The-real-Urb - I'll sort this over the weekend.

[2018-12-06 10:19] wh33ly commented on #173
I think this also relates to the idempotency as the compare doesn't match and a new cert is created.
https://github.com/PowerShell/CertificateDsc/issues/163
https://github.com/PowerShell/CertificateDsc/issues/166
Still figuring out which parameter is causing this in my case, but also when not using the subject alternate names I keep getting new certs.

So my guess is that there are a few different

[2018-12-08 18:41] PlagueHO commented on #173
Working on this one now - just needed to improve the quality of the unit tests.

[2018-12-09 02:19] PlagueHO commented on #171
I'll fix this one after the PR #174 has gone through.

[2018-12-10 17:48] shurick81 commented on #126
Getting the following error in 4.1 and 4.2 versions:

[code]

It works fine when I only have this resource:

[code]

But if I add this to configuration:
[code]

It throws the aforementioned exception.
I use Windows 2016 Server on this machine.

[2018-12-20 06:42] #161 closed

[2019-01-10 08:55] PlagueHO opened #177 "OptIn To Example Publishing"
Example publishing is currently disabled - it should be enabled:
https://github.com/PowerShell/DscResource.Tests/blob/dev/README.md#publish-examples-to-powershell-gallery

[2019-01-20 21:03] #172 closed

[2019-01-20 21:03] #173 closed

[2019-01-20 21:12] PlagueHO commented on #171
I'll start looking into this one next as PR #174 has been completed.

[2019-01-23 12:45] wh33ly commented on #163
Update: removed the link to the earlier issue. Seemed there where different causes which resulted in idempotency.

In short my problem came from the the difference between the template and certificate display name (spaces).

I tried the code from the pullrequest below and that seemed to solve my issue also.
@djwork could you try the code to see if this solves your issue also ?
https://github.com/P

[2019-01-24 15:45] sgreenlee11 commented on #126
As mentioned, it looks like the issue is with this line in Test-Thumbprint:

`        $allHashProviders = [System.AppDomain]::CurrentDomain.GetAssemblies().GetTypes()
`
A similar bug was opened with the cAzureStorage module: https://github.com/azureautomation/modules/issues/3

It seems like the underlying issue is the same, related to missing dependant types. After doing some testing it seems that

[2019-01-28 04:45] PlagueHO opened #179 "Add DscResourcesToExport to Manifest and Remove Wildcards"
To improve the information in the PowerShellGallery, add DscResourcesToExport to the module manifest.

Also remove wildcards from FunctionsToExport, CmdletsToExport, VariablesToExport, AliasesToExport.

[2019-01-29 00:02] twerthi commented on #47
I wrote a module for this issue, https://github.com/twerthi/xCertificatePermission

[2019-02-01 07:33] #177 closed

[2019-02-07 10:40] #166 closed

[2019-02-13 21:26] jthompson333 opened #180 "Certificate request not working in 2012R2 as it did in 2016"
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem

#### Suggested solution to the issue

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running

#### Version and build of PowerShell the target node is running

Name                           Va

[2019-02-14 07:36] PlagueHO commented on #180
Hi @jthompson333 - thanks for raising this. Just to make sure I'm on the right track, are you saying the config works OK on WS 2016, but doesn't work on WS 2012R2?

Does the `WebServer` certificate template exists on the CA and the `$Credential` contains a valid Domain account that has access to issue using the `WebServer` template? Usually we get this sort of error when there is a problem issuing

[2019-02-15 00:34] jthompson333 commented on #180
Yes, to confirm it did work on WS 2016 but not on WS 2012R2

Let me check on those items and I will get back to you.

The domain was built with automation and the CA was setup with the sister powershell dsc library AdcsCertificationAuthority.

I'm also on vacation, so I may not get back to responding on this until Tuesday.  Sorry, I guess I should have waited a little longer to report.  Thanks for

[2019-02-16 03:36] #147 closed

[2019-02-16 03:44] PlagueHO commented on #180
If you can get some details on the template you've got setup in your WS2012R2 machine then I can try and replicate it here on my lab.

[2019-02-19 18:48] jthompson333 commented on #180
By default it seems the CA install doesn't set all the permissions for Domain Admins...
![image](https://user-images.githubusercontent.com/1621150/53039363-09059e00-344d-11e9-91be-e34a5db54560.png)

However, its the same on 2016 as well and the request worked.

[2019-02-19 18:58] jthompson333 commented on #180
Params for both CA's were installed with these options from the ActiveDirectoryCSDsc module.
So the default WebServer template was used with this install

Configuration SetupAndInstallCA
{
    param
    (
        [Parameter()]
        [System.String[]]
        $NodeName = 'localhost',

        [Parameter(Mandatory = $true)]
        [ValidateNotNullorEmpty()]
        [System.Management.Automation.P

[2019-02-19 19:02] jthompson333 commented on #180
**From 2012 R2 DC**

[code]

From 2016 DC

[code]

[2019-02-19 19:05] jthompson333 commented on #180
**2012 DC Info (CA Templates)**

![image](https://user-images.githubusercontent.com/1621150/53040322-2176b800-344f-11e9-8739-f6a3c8389f63.png)

![image](https://user-images.githubusercontent.com/1621150/53040378-40754a00-344f-11e9-8f7c-f709d09535db.png)

2016 DC Info (CA Templates)
![image](https://user-images.githubusercontent.com/1621150/53040432-5c78eb80-344f-11e9-8f89-6979a7ecf9aa.png)

![imag

[2019-02-19 19:05] jthompson333 commented on #180
Not sure if thats the info that you were looking for, but, let me know if its not.

[2019-02-20 08:51] PlagueHO commented on #180
Great info @jthompson333 - can you see who has Enroll permissions on the Security tab on these templates? You need to ensure that the $Credential you're passing to your config has access on the Security tag as an Enroll.

E.g.
![image](https://user-images.githubusercontent.com/7589164/53078587-671fa780-3559-11e9-8070-e5972ec66351.png)

Other ways you can check this is log onto the server you're ap

[2019-02-20 16:26] jthompson333 commented on #180
ok.  I haven't tried certreq.exe yet.

So domain admins- the creds I'm passing, just the default domain admin account has enroll permissions, but, the authenticated users does not.  2016 DC looks the same as well.

![image](https://user-images.githubusercontent.com/1621150/53107128-63ad0180-3502-11e9-9dca-0f3079600934.png)
![image](https://user-images.githubusercontent.com/1621150/53107140-6d36698

[2019-02-20 16:29] jthompson333 commented on #180
I'll try certreq.exe or the gui and see what happens.

[2019-02-20 20:36] jthompson333 commented on #180
So the project I'm working on- I was just told not to waste time with 2012 R2.  So I suppose you can archive this off, as I won't have anymore time to mess with it.  Never got to try certreq.exe...

[2019-03-05 14:40] jeffotterpohl opened #182 "Certificate DS Publish functionality"
ISSUE TITLE:  PublishCert: Add the ability to publish Certificates to the CA or SubCA Containers

    ISSUE DESCRIPTION (this template):
    Add the ability to publish certificates to Active Directory (AD) RootCA or SubCA containers.

### Description
This resource can be used to publish certificates to Active Directory (AD).  This uses the thumbprint of the specified certificate to compare items c

[2019-03-05 14:45] jeffotterpohl opened #183 "AD Publish CRL"
ISSUE TITLE:  PublishCrl: Add the ability to publish CRLs to a desired CA in the CDP Container

    ISSUE DESCRIPTION (this template):
    Add the ability to publish CRLs to Active Directory (AD) in the CDP container.

### Description
This resource can be used to publish CRLs to Active Directory (AD).  This uses the thumbprint of the specified CRL to compare items currently in Active Directory to

[2019-03-06 00:05] jeremysbrain opened #184 "CertReq: Creates .inf file, but fails when looking for .req file"
First off, thanks in advance...
I'm attempting to create a certificate for a pull server.  I'm very new to DSC in general...
Config:
        CertReq PullCert {
            Credential = $CredDomain
            Subject = 'CN=Pull01, , OU=IT, O=JeremysBrain, L=Chino, S=CA, C=US'
            KeyLength = 2048
            CAServerFQDN = 'Pull01.jeremysbrain.org'
            ProviderName = 'Microsoft RSA

[2019-03-06 23:48] jeremysbrain commented on #184
Problem solved...
Soltion was to add double quotes around the Provider Name like below:
ProviderName = '"Microsoft RSA SChannel Cryptographic Provider"'

Probably a rookie mistake.

[2019-03-06 23:48] #184 closed

[2019-03-09 01:40] PlagueHO commented on #184
Thanks for updating @jeremysbrain - although I'd actually say that we shouldn't need the extra quotes around the provider name. It would be better if they were automatically added.

I might add an issue to actually do this.

[2019-03-09 01:45] PlagueHO opened #185 "CertReq: Error occurs in Provider Name with spaces used without Quotes"
#### Details of the scenario you tried and the problem that is occurring

When specifying a ProviderName parameter and quotes are not included within the string an error occurs.

E.g.
[code]

Will result in:
[code]

However, this is OK:
[code]

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue

Automatically include the quotes around the ProviderName string in the

[2019-03-09 01:45] PlagueHO commented on #184
I've added an issue to track this change: https://github.com/PowerShell/CertificateDsc/issues/185

[2019-03-09 01:47] PlagueHO commented on #183
This sounds like a useful resource @jeffotterpohl - however, I'd suggest it might actually be best placed in the [ActiveDirectoryCSDsc](https://github.com/PowerShell/ActiveDirectoryCSDsc) Resource module?

[2019-03-09 01:48] PlagueHO commented on #182
This sounds like a useful resource @jeffotterpohl - however, I'd suggest it might actually be best placed in the [ActiveDirectoryCSDsc](https://github.com/PowerShell/ActiveDirectoryCSDsc) Resource module?

[2019-03-09 01:50] jeffotterpohl commented on #183
That sounds good, I was talking over with another person and we couldn't decide which one to submit it to.  I will close this out and open an issue on the other ActiveDirectoryCSDsc resource.

[2019-03-09 01:50] #183 closed

[2019-03-09 01:51] jeffotterpohl commented on #182
I will close this out and open an issue on the other ActiveDirectoryCSDsc resource.  Thanks!

[2019-03-09 01:51] #182 closed

[2019-03-13 11:44] ykuijs commented on #146
I have exactly this issue with v4.4. It works as expected on one server, but throws the error on another. I tried to use Enable-DscBebug -BreakAll, but the error is thrown before it hits any breakpoint.

Any clue when this can be fixed/investigated?

[2019-03-13 11:57] ykuijs commented on #146
Never mind, the cause of my issue was between the keyboard and the chair, or in other words: Me :-)

@kinwolfqc In my case I did not yet import the DSC decryption certificate to the certificate store of the server. This was causing this error. Maybe this was causing your issue as well.

[2019-03-14 06:39] PlagueHO commented on #146
LOL @ykuijs - I think I still need to get time to resolve it still :grin:

[2019-03-18 15:38] wh33ly commented on #180
I had a similar error when when the "Domain account" I passed in "dsc_credential"  wasn't a local administrator on the machine where I requested it created the request from.

[2019-03-19 02:49] PlagueHO commented on #180
Thanks @wh33ly - I am fairly sure this issue is related to an access issue as you surmise. We probably could do some more work on detecting and reporting likely causes back to the user, which is why I've left this open for now.

[2019-03-20 13:13] ykuijs commented on #126
Is this issue fixed via PR #186?

[2019-03-20 16:10] PlagueHO commented on #126
I think so @ykuijs - although I was never able to repro it. I could repro the issue @sgreenlee11 documented.

[2019-03-20 20:56] ykuijs commented on #126
I was able to repro the issue: I encountered this issue today on one of the servers in my SharePoint farm in Azure. After updating the resource to the new code, the issue was resolved. So it indeed looks like it is solved.,

[2019-03-21 02:08] PlagueHO commented on #126
Awesome - thanks for checking this @ykuijs . I'll close this issue for now and we can reopen it after the next release goes out if it still occurs.

[2019-03-21 02:08] #126 closed

[2019-03-21 12:49] sgreenlee11 commented on #126
I confirmed that the issue I was able to reproduce was solved by the latest Dev branch as well.

[2019-03-29 19:22] PlagueHO opened #187 "Example Publishing to PS Gallery Fails"
The following warning occurs:
https://ci.appveyor.com/project/PowerShell/CertificateDsc/branch/master?fullLog=true#L2115

This is because gallery_api setting is missing from AppVeyor.
https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/appveyor.yml#L6

[2019-03-30 19:02] #187 closed

[2019-04-05 00:26] djwork commented on #163
@wh33ly I can't try the fix because my CA is locked down by security. But I agree this issue is duplicate and now fixed

[2019-04-05 00:26] #163 closed

[2019-04-11 13:08] andystumph opened #190 "CertReq: 'ReferenceSubject'. The argument is null or empty"
#### Details of the scenario you tried and the problem that is occurring
When Test-TargetResource is run, it tries to compare certificates in the existing cert store against the new cert request. If there is a certificate in the store that does NOT have a Subject, the script errors out.

Code:
$cert = Get-Childitem -Path Cert:\LocalMachine\My |
        Where-Object -FilterScript {
            (Com

[2019-04-13 03:16] PlagueHO commented on #190
Great catch @andystumph - looks like an easy fix. I'll get onto it ASAP. Thanks for raising this one.

[2019-04-15 17:32] alphakilo45 opened #192 "CertificateImport: "Cannot find the original signer" error chain of certificates"
ISSUE TITLE:
CertificateImport: "Cannot find the original signer" error chain of certificates

ISSUE DESCRIPTION (this template):

#### Details of the scenario you tried and the problem that is occurring
When attempting to use the CertificateImport resource to import a p7b, we are getting the error "Cannot find the original signer." if the p7b includes a chain of certificates where the parent cert

[2019-04-16 07:33] #190 closed

[2019-04-16 07:43] PlagueHO commented on #192
Hi @alphakilo45 - thank you for raising this and the great info and debugging. I suspect the use of X509Certificate2Collection is a better approach anyway as P7B and PKCS12 both can contain the entire certificate chain. I'll see if I can get this fix in over the weekend.

[2019-05-02 11:01] RasmusAaen opened #193 "Test-TargetResource fails if server language is not English"
The Test-TargetResource function looks for Subject Alternate Names using the friendly name in the oid:

[code]

If the server language is not English, this test will fail as the FriendlyName is translated. In Danish, they look like this:

[code]

where the "2.5.29.17" is the Subject Alternate Name. This results in an "You cannot call a method on a null-valued expression." error.

I suppose the sol

[2019-05-02 15:04] RasmusAaen commented on #193
The same problem exist in a few of the helper functions:

CertificateDsc.Common.psm1, line 702:
[code]

CertificateDsc.Common.psm1, line 780:
[code]

This makes the test for Certificate Template fail, resulting in a new certificate being issued on every run.

/Rasmus

[2019-05-02 16:20] shcrist opened #194 "PfxImport: Add Ability to set the friendly name for the certificate"
### Description
Add a property to set the friendly name for a certificate imported from a pfx file.

### Proposed properties
FriendlyName String

### Special considerations or limitations
Looking for functionality that would be equivalent to the following PowerShell command:

(Get-ChildItem -Path Cert:\LocalMachine\My\97CB2928C7AC163A750BF16CF1D2CF1A3DDAAA8E).FriendlyName = 'New Cert Name'

[2019-05-03 20:49] PlagueHO commented on #193
Thanks for raising this - this does seem like something we should be able to fix by using the Oid value instead of FriendlyName.

I'll see if I can get onto these today.

[2019-05-03 22:09] PlagueHO opened #195 "Opt-In to Common Tests - Validating Localization"
There are new 'Common Tests - Validating Localization' in DSCResource.Helpers.

Opt-in to these tests and resolve any issues.

[2019-05-06 09:07] PlagueHO commented on #193
Onto this one now, but also doing a little bit of refactoring to reduce code duplication.

[2019-05-07 07:44] PlagueHO commented on #193
Sorry this is taking a while, I'm refactoring a bunch of code as there is lot of duplication and code that should be improved. So I'm working on that.

[2019-05-10 08:06] PlagueHO commented on #193
I've completed the change, just waiting on review.

[2019-05-11 19:38] #193 closed

[2019-05-14 08:16] #192 closed

[2019-05-14 08:22] PlagueHO opened #198 "Merge Describe Blocks for Common Import-CertificateEx Tests"
The `Import-CertificateEx` function tests are all in discrete Describe blocks with "initialization" code between then. This needs to be combined into a single Describe block and the initialization code moved into a `BeforeAll`.

[2019-05-25 10:10] #195 closed

[2019-05-26 08:49] #185 closed

[2019-06-07 08:56] #194 closed

[2019-07-01 12:04] gaelcolas commented on #129
Simplified from this excellent post: http://paulstovell.com/blog/x509certificate2
The Public key is (usually) written to registry, and the Private key written to file (never stored together, unless exported to PFX), either with system/machine files or User data. The point is that it's only 'linked' by the .Net object, but not really the same thing at all, and stored differently.

When the cert req

[2019-07-10 14:00] SwarfegaGit opened #205 "CertReq: AutoRenew (Question)"
I wrote a configuration opting for AutoRenew to be $true.  However, my LCM is set to 'ApplyAndMonitor'.  My question is will auto-renew still work or only if my LCM is set to 'ApplyAndAutoCorrect'?

[2019-07-10 19:23] PlagueHO commented on #205
Hi @SwarfegaGit - the AutoRenew mechanism is handled by the resource itself. So this requires 'ApplyAndAutoCorrect' to be used or some other trigger to regularly reapply the configuration.

[2019-07-10 19:31] SwarfegaGit commented on #205
Great, thanks.

[2019-07-10 19:31] #205 closed

[2019-07-18 08:40] SwarfegaGit commented on #121
I have the same issue with a RDP Certificate enrolled by Group Policy.  It's issued by the same CA but by a different template.  If I delete the RDP Certificate it works fine up until group policy is ran again and installs another certificate.
Can we not add the ability to filter by the FriendlyName property as that can be easily made unique?

[2019-07-18 09:18] PlagueHO commented on #121
Hi @SwarfegaGit - yes we should be able to do this I think. Just need to get time to do it - unless some one gets to it first and submits a PR :grin:.

[2019-09-29 10:07] p0shkar opened #207 "CertReq: Multiple certificates issued when having 3rd party CA"
#### Details of the scenario you tried and the problem that is occurring
When using a third party CA, such as a HSM, and issuing a certificate with CertReq, each time the LCM runs the configuration it will issue a new certificate.
This behavior is due to a hardcoded element in the function Compare-CertificateIssuer and the fact that not all CA formats the issuer with CN in the beginning.

MS CA is

[2019-09-29 10:33] johlju opened #208 "CertificateDsc.Common: Find-Certificate has a typo in a code path"
There is a typo in the parameter name `ArgumentName` so if the certificate path is not valid it would generate the wrong error message.

The description has a typo too.

https://github.com/PowerShell/CertificateDsc/blob/72751a97f38f6e40618930b14fd62e966f847c9e/Modules/CertificateDsc.Common/CertificateDsc.Common.psm1#L741-L744

[2019-09-29 10:44] johlju commented on #208
*Personal note: When a unit test is added that tests this change, that unit test should be added to `xWebAdministration.Common.Tests.ps1` over in the xWebAdministration module as well.*

[2019-09-29 15:18] p0shkar commented on #207
Upon further reflection, Get-TargetResource also use hardcoded elements in the $returnValue:
[code]
I havn't run into any issues with this as far as I know, but it would be a good time fix this at the same time.

[2019-10-04 19:42] PlagueHO commented on #208
Good catch @johlju!

[2019-10-12 15:09] p0shkar opened #210 "CertReq: Get-TargetResource will try to find incorrect certificate if X500 subject is used"
#### Details of the scenario you tried and the problem that is occurring
In Get-TargetResource the following code is used:
[code]
If the subject contains the full X500 path, in Get-TargetResource this will result in it trying to find a Certificate with Subject "CN=CN=SomeSubject,O=Or,C=Other,S=etc".

#### Verbose logs showing the problem

#### Suggested solution to the issue
Use the same fix as in

[2019-10-17 19:06] PlagueHO opened #211 "CertReq: Correct Working Path Name to remove 'x'"
The working path that is used to contain the certificate request files still contains an 'x' in it.

https://github.com/PowerShell/CertificateDsc/blob/dev/DSCResources/MSFT_CertReq/MSFT_CertReq.psm1#L445

This should be removed.

[2019-11-16 05:46] #207 closed

[2019-11-16 05:46] #210 closed

[2019-11-16 19:23] #208 closed

[2019-11-16 19:23] #211 closed

[2019-11-26 12:27] regularroutine opened #213 "PfxImport: "No keys found for certificate!" when using Windows Server 2019"
####  Details of the scenario you tried and the problem that is occurring
I am trying to import a certificate in Windows Server 2019 and later manage the keys. When I use the simple configuration below, it imports the certificate fine but when I go to "certlm" and try to "manage private keys" I get the error message: "No keys found for certificate!".
The same configuration works fine on Windows Se

[2019-12-04 12:44] pietervandersluis commented on #171
It seems that this xcertreq has been promoted to certreq.

The certreq code has the positive 30 already there.

[2019-12-24 20:28] PlagueHO opened #215 "Update module to new CI and release process"
Since being migrated to the DSC Community, this module must be updated to use the new CI process and repository structure.

[2020-01-24 08:46] fullenw1 opened #216 "CertificateImport: add support for certificates import via HTTP(S)"
#### Details of the scenario you tried and the problem that is occurring
Currently, the **ImportCertificate** only supports import of certificates with file shares.
However, for standalone computers this becomes complicated because you have to first create a share mapping which involves also the usage of credential.

#### Verbose logs showing the problem
`PowerShell DSC resource MSFT_CertificateIm

[2020-01-24 09:02] PlagueHO commented on #216
Hi @fullenw1 - It should be possible to modify this to detect the file source as HTTP/HTTPS and download the file locally before importing it.

[2020-02-14 01:19] Harshinee opened #217 "Error processing property 'Credential' OF TYPE 'PfxImport'"
#### The operating system the target node is running

#### Version and build of PowerShell the target node is running

#### Version of the DSC module that was used ('dev' if using current dev branch)
4.7.0.0

I have attached my dsc configuration file for reference.
[InstallExtensions.txt](https://github.com/dsccommunity/CertificateDsc/files/4202187/InstallExtensions.txt)

[2020-02-14 05:39] PlagueHO commented on #217
Hi @Harshinee,
By default DSC doesn't allow passwords/credentials in config files to be stored in plain text - which is what is going to happen here. So the message you're seeing is telling you that you either need to encrypt the MOF file or tell DSC that you want to allow plain text passwords/credentials. This page details the process of either encrypting the MOF or allowing plaintext passwords (

[2020-02-14 19:57] Harshinee commented on #217
I have another question about installing the module. I tried a few things,
1. Import using ' Import-DSCResource -ModuleName CertificateDsc'. I get this error, Could not find the module 'CertificateDsc'.
2. Find-Module -Name CertificateDsc -Repository PSGallery | Install-Module -Force
   This fails because the Nuget version needs to be updated looks like. For this, I added the 'Install-PackageProvi

[2020-02-15 04:15] PlagueHO commented on #217
Hi @Harshinee - Ok, here's my suggestions:
1. Don't install the modules in the Configuration - install them by the code that calls the Configuration.
2. The second issue is not related to DSC. This is making sure PowerShell has the files neccessary to download modules from the PowerShell Gallery. The update/installation of the Nuget package provider the first time installing a module (any module)

[2020-02-28 19:44] PlagueHO commented on #217
Hi @Harshinee - can I close this one?

[2020-03-01 00:55] ruandersMSFT opened #218 "PfxImport: Cannot validate argument on parameter Thumbprint"
#### Details of the scenario you tried and the problem that is occurring

Importing DigiCert Wildcard / GeoTrust RSA CA 2018 certificate fails with "Cannot validate argument on parameter Thumbprint: System.InvalidOperationException: '‎c0ba334eb65b7942e9c57c116a804dc44a269a28' is
not a valid hash.

#### Verbose logs showing the problem

![image](https://user-images.githubusercontent.com/16927960/75

[2020-03-01 16:10] ruandersMSFT commented on #218
Added verbose logging to view comparison, trying to determine why it doesn't match when Hex Length 40.

![image](https://user-images.githubusercontent.com/16927960/75629118-8570a800-5b9c-11ea-8777-b96b768acf3d.png)

[2020-03-01 16:14] ruandersMSFT commented on #218
[code]

Yields no match:

![image](https://user-images.githubusercontent.com/16927960/75629190-03cd4a00-5b9d-11ea-9134-b78c43921890.png)

[2020-03-02 01:29] PlagueHO commented on #218
Hi @ruandersMSFT - I've found the issue. When you copy the Thumbprint of a certificate out of Windows Certificate Manager, it seems to include an extra character at the beginning (something to do with char encoding).

If I Copy/Paste the code you put in above into a PowerShell window it shows like this:
![image](https://user-images.githubusercontent.com/7589164/75638712-2a20e180-5c92-11ea-9e86-36f

[2020-03-02 02:40] ruandersMSFT commented on #218
Verified, resolved.

[2020-03-02 02:40] #218 closed

[2020-03-06 11:52] johlju opened #219 "CertificateDsc: Converting to new CI pipeline"
Work need to be done to convert this repository to use the new CI pipeline.

https://dsccommunity.org/blog/convert-a-module-for-continuous-delivery/

[2020-03-17 05:41] parnasoft commented on #213
Any updates on this?
I have the same problem Windows Server 2019.  The same configuration works on Windows Server 2016.

PSVersion                      7.0.0
PSEdition                      Core
GitCommitId                    7.0.0
OS                             Microsoft Windows 10.0.17763
Platform                       Win32NT
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0…}
PSRemotingProtoco

[2020-03-17 05:46] PlagueHO commented on #213
Hi @regularroutine - sorry for not getting back to you sooner on this.

This resource just uses the `Import-PfxCertificate` cmdlet in Windows to import the PFX. Can you confirm what happens if you use the `Import-PfxCertificate` cmdlet on Windows Server 2019 to import the same certificate? Do you see the same behaviour?

Also, can you do a `Get-ChildItem -Path cert:\LocalMachine\My\XXXX | fl *' an

[2020-03-17 21:06] Altern1ty commented on #213
We also have this problem. If I import via Import-PfxCertificate though it does grab the private key properly it seems like and I can set permissions on the private key where as I get the same error as above if I do it via Cert DSC. This same DSC code is used for our 2016 servers and works correctly.  Here is the output from the cert:

Imported via CertificateDsc

PSPath                   : Micros

[2020-03-18 05:12] PlagueHO commented on #213
I wonder if this has to do with the fact that DSC runs under the context of Local System as this appears to be the only difference here?

Are you able to use the PsDscRunAsCredential to run the ImportPfx resource under a different context (e.g. not Local System)? https://docs.microsoft.com/en-us/powershell/scripting/dsc/configurations/runasuser?view=powershell-7

[2020-03-18 21:25] Altern1ty commented on #213
Good idea, unfortunately it did not help... ran it as both a local admin and as a domain admin account via PsDscRunAsCredential.

Also tested both on another freshly imaged 2016 box and they worked flawlessly, I was able to access the keys without issue.

Seems to only affect 2019.

[2020-03-19 04:58] PlagueHO commented on #213
Hi @Altern1ty , I'm really scratching my head here.

I'm trying to identify a difference in how the DSC resource imports the PFX and how you did it manually:
1. When you imported the PFX using `Import-PfxCertificate`, did you specify Exportable?
2. It appears your DSC is not setting a FriendlyName - is that correct?

Otherwise, the code that imports the PFX in the DSC resource is just:
[code]

One

[2020-03-28 00:03] PlagueHO commented on #219
Duplicate of #215. Working on it now.

[2020-03-29 08:07] PlagueHO opened #221 "Speed up performance of Test-Thumbprint Unit Tests"
The `Invalid thumbprint` tests for `Test-Thumprint` take over 35 seconds to complete. This results in unit tests taking much longer time completing.

[2020-03-31 19:09] #215 closed

[2020-03-31 19:09] #219 closed

[2020-04-16 11:38] kilasuit opened #224 "Occasional False Positive in Accepting certificate result logic"
I've been investigating an intermittent issue with an older version of what was xCertificate, specifically 3.0.0.0 and stumbled across and error in the logic of the CertReq Set Functionality, particularly in the logic of the Accepting certificate result section.

This seems to stem from the following lines where there is no logic to inspect the output of the certreq  before blindly pushing that ou

[2020-04-16 14:13] kilasuit commented on #224
I should add that the code in this section is exactly the same in the latest CertificateDSC module & here in the source, as it is in the old xCertificate version that I was using this on.

I am also trying to work out if this affects a particular OS more than others as we have an infrastructure test suite that tests this in 2012, 2016 & 2019 & will update when I know any more

[2020-04-21 06:06] dave-boulet opened #225 "DSC_CertificateImport: Azure KeyVault sourcing support"
Please add support for sourcing certificates directly from Azure KeyVault. This would be a great use case when used together with Azure State Configuration.

[2020-04-26 21:29] PlagueHO opened #226 "Correct Pipeline Include Path in Azure Pipeline Build YAML"
This is because a recent change to Azure DevOps Pipelines has removed the ability to use `**` in Include/Exclude paths.

https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#wildcards

dsccommunity/ActiveDirectoryDsc#599

[2020-04-26 21:42] PlagueHO opened #227 "Update to Use Latest Version of ModuleBuilder and merge HISTORIC_CHANGELOG"
Update to use latest version of ModuleBuilder module. This also allows merging the HISTORIC_CHANGELOG.MD into the CHANGELOG.MD.

[2020-04-27 19:37] #226 closed

[2020-04-27 19:37] #227 closed

[2020-05-02 20:18] PlagueHO opened #229 "Convert Module to use DSCResource.Common"
See this PR for example: dsccommunity/NetworkingDsc#453

[2020-05-06 14:15] shcrist commented on #218
Ran into the same issue. Copy/Paste from cert manager added a special character. Took action recommended by PlagueHO about and it resolved the issue.

[2020-05-11 09:17] PlagueHO opened #230 "Correct Build.YML to Support ModuleBuilder 1.7.0"
The ModuleBuilder 1.7.0 release renamed the `CopyDirectories` attribute to `CopyPaths`. Update the `Build.yml` to fix this issue.

[2020-05-17 20:11] #229 closed

[2020-05-17 20:11] #230 closed

[2020-05-22 20:54] #224 closed

[2020-06-14 01:05] PlagueHO opened #233 "Fix Build Failures due to Pester 5.x"
Pester 5.x has been released and both Sampler and DSCResource.Test has been updated to support it, however, Code Coverage support is not available. To solve this, pin Pester to 4.10.1.

[2020-06-15 08:55] #233 closed

[2020-07-04 04:56] PlagueHO opened #235 "Enable Automated Documentation Publish to Wiki in Deployment"
Add `- Publish_GitHub_Wiki_Content` to the `publish:` section of `Build.yml`.

[2020-07-04 22:54] #235 closed

[2020-08-03 15:22] marcinbojko commented on #213
Seems the Chef guys also had this issue
https://github.com/chef/chef/issues/8325

[2020-08-03 15:45] Altern1ty commented on #213
@PlagueHO wow I'm sorry I totally spaced on replying to this.

I ended up getting this to work when I used a domain user account as the run as user. Using a local account even with local admin did not work. Only a domain user that has local admin. Leaving it as the default SYSTEM did not work either.

I'd say this is a bug with the underlying import-pfxcertificate cmdlet or maybe one of the many b

[2020-08-05 08:50] marcinbojko commented on #213
It seems i've found a reason.
On 2019 user SYSTEM doesn't have ANY rights to a folder:  "\Documents and Settings\All Users\Application Data\Microsoft\Crypto\RSA\MachineKeys", mostly system drive
On 2016 user SYSTEM does have full rights.
Is it by default? By design? An error? Hard to say, but I think adding one ACL before, should make us happy. Will test.

[2020-08-06 20:33] PlagueHO opened #237 "Rename master branch to main"
As per [this statement](https://sfconservancy.org/news/2020/jun/23/gitbranchname/).

[2020-08-07 01:06] zephrxx commented on #213
@marcinbojko does your test work finally? I was blocked on this issue as well.

[2020-08-07 04:08] PlagueHO commented on #213
I can try to find out if this is by design. If it is by design then what we may need to try and grant rights on the folder before performing the import and then removing them again. But that isn't an ideal pattern (e.g. a failure in the resource could leave the folder in an insecure state). So understanding the reasoning behind this behavior in WS 2019 is important. Keen to hear the results of you

[2020-08-07 05:33] marcinbojko commented on #213
I didn't have time to do these tests, but a colleague of mine did workaround in a form of extra puppet/acl settings and he confirmed it worked.

[code]

[2020-08-07 08:57] PlagueHO commented on #213
Maybe what we could do is add an option to the resource to allow this to be "forced" - that way it would be on a consumer to make the decision about whether to allow the temporary permission change on the folder. I'm still keen to understand the reasoning behind the change so will reach out internally.

[2020-08-07 18:31] yiranrugu commented on #213
@PlagueHO, I hit the same issue and tested with @marcinbojko's suggestion. I manually assigned SYSTEM full control access to folder "c:\Documents and Settings\All Users\Application Data\Microsoft\Crypto\RSA\MachineKeys", and run DSC again, it didn't work.
The other interesting thing is, before assigning SYSTEM access, I impersonate as SYSTEM and run import cert directly on vm as below, it worked.

[2020-08-07 19:09] marcinbojko commented on #213
Hi @yiranrugu , the solution above adds administrators, not system. Haven't tested it myself.

[2020-08-27 11:37] mib82 commented on #213
I have runned **pfxImport** resource with:
**PsDscRunAsCredential = $AdminDomainCredential**

and there is no error. Works fine!

[2020-08-28 00:20] PlagueHO commented on #213
Hi @mib82 - were you using Windows Server 2019 or an earlier version?

[2020-08-28 08:43] mib82 commented on #213
Hi @PlagueHO
Windows Server 2019 Datacenter

[2020-08-28 09:14] PlagueHO commented on #213
Hi @mib82 - thank you for confirming that. This is the same behavior on Windows Server 2016 - you generally need to import the certification using PsDscRunAsCredential set to admin. I didn't think to actually to check this at the time.

I think what I need to do is add this as an example.

[2020-08-30 07:46] #213 closed

[2020-10-23 10:16] jmarkert opened #240 "Test-TargetResource fails if server language is not English (Get-CertificateTemplateInformation)"
#### Details of the scenario you tried and the problem that is occurring

#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue
The switch regex in Get-CertificateTemplateInformation have to match localized string data like this:
[code]

For me it did a quick hack in
source\Modules\CertificateDsc.Common\CertificateDsc.Common.psm1:632
[code]

I added a source\Modules\Cer

[2020-11-23 21:53] 39Delta opened #241 "PfxImport & CertificateImport: Add base64 content parameter for PFX and certificate import resources"
#### Details of the scenario you tried and the problem that is occurring
[Enhancement] Provide a parameter for the import resources that contains the certificate content as a base64 string that can then be used to set the file content temporarily for import.  File would be created and removed only on SET when ensure is present and only if the optional 'Base64Content' parameter is used.  Otherwise

[2020-11-23 22:15] 39Delta commented on #241
I have included a PR for if and when this issue is accepted.
https://github.com/dsccommunity/CertificateDsc/pull/242

[2020-11-23 22:19] PlagueHO commented on #241
Hi @39Delta - great feature! I'll review once the tests are passing over on the PR. Great stuff!

[2020-11-24 22:24] 39Delta commented on #241
Thanks @PlagueHO, I have pushed updates to fix tests.  Thanks for your time!

[2020-12-11 06:35] 39Delta commented on #241
Hi @PlagueHO, I am testing a change to this approach where the contents are not written to the file system and instead are imported directly as a byte array into the certificate object before being added to the cert store.  I will push the updates when complete.  Thanks!

[2020-12-11 06:49] PlagueHO commented on #241
Awesome! Looking forward to getting this in @39Delta - thanks for working on this!

[2020-12-21 17:10] bailsman commented on #70
Hi - found this issue from Google. My own helper functions in my own DSC modules are also not printing verbose messages.

Just curious if you have found a better solution to this in the meantime? Or is adding -Verbose to your Write-Verbose calls in the helper module the accepted workaround?

[2020-12-21 17:23] johlju commented on #70
There not a better solution and probably won’t be for MOF resources. Either add `-Verbose` to `Write-Verbose` calls. Or add `-Verbose` to the call of the helper function.

[2020-12-31 20:25] #237 closed

[2021-01-08 04:20] PlagueHO opened #244 "Remove non-mandatory parameters from Get-TargetResource"
Some of the resources (e.g. CertificateImport and PfxImport) accept non-mandatory parameters in the `Get-TargetResource` functions. This is not compliant with standards and they should be removed.

[2021-01-19 22:24] kevinpohlmeier commented on #146
I'm getting this error on a completely different resource (cNtfsPermissionEntry). Apparently this message comes from DscCore.dll (see https://windows10dll.nirsoft.net/dsccore_dll.html) and is not something related to the code of CertificateDsc.

I added a logging line as the first line of both a working resource and my problem resource. The working resource logged it fine, and the problem resource

[2021-01-19 23:06] kevinpohlmeier commented on #146
The "MI RESULT 1" led me to https://stackoverflow.com/questions/25877068/how-do-i-resolve-cannot-invoke-the-sendconfigurationapply-method-when-perform, which is not the same error but the idea of "What is the correct way to 'reset' the DSC processes on a target machine?" seemed like it might lead somewhere. None of the suggestions there worked for me, though.

I did manage to pull a bit of extra s

[2021-01-20 08:02] PlagueHO opened #245 "Update GitVersion.yml to use latest pattern"
Update `GitVersion.yml` branches section to:
[code]

As per: https://github.com/dsccommunity/dsccommunity.org/pull/162

[2021-01-20 09:04] #245 closed

[2021-01-20 18:33] kevinpohlmeier commented on #146
When I deleted and re-added my DSC decryption certificate, I forgot to modify the CertificateFile and Thumbprint that go into the MOF.

That meant that the Thumbprints did not match. I still got that same error, and that error message makes sense for that scenario.

I don't know what my original issue was, but I think deleting the certificate on both the source (to create the MOF) and target (to r

[2021-02-03 11:27] Gobiman opened #247 "INF file format is wrong"
Hi
I am having an issue running the resource (CertificateDsc,Certreq), reporting back that INF file is in the wrong format.
Manually, I managed to run the INF  file with cretreq.exe  & seems to work fine.
I have searched for issue, nothing found.  I wonder if I am missing something.

regards

[2021-02-03 15:50] Gobiman commented on #247
This worked by adding CA values.  The error message was misleading.
thanks

[2021-02-03 15:50] #247 closed

[2021-02-03 18:40] 39Delta opened #248 "DSC_PfxImport:'Import-PfxCertificateEx' function handles private keys differently then 'Import-PfxCertificate' cmdlet"
#### Details of the scenario you tried and the problem that is occurring
Importing PFX certificates to the local machine certificate path and the resource uses the function 'Import-PfxCertificateEx' from the common module results in the private key being installed in the users key store location rather than the machine path.  The result of using the native 'Import-PfxCertificate' cmdlet is that th

[2021-02-03 18:45] 39Delta commented on #248
I will have a PR up for review shortly if the issue is accepted

[2021-02-05 20:29] PlagueHO opened #250 "Tests failing: New-SelfSignedCertificateEx from Script Center is no longer available"
The Microsoft Technet Script Center Gallery has been retired: https://docs.microsoft.com/en-us/teamblog/technet-gallery-retirement

The Test Helper function `Install-NewSelfSignedCertificateExScript` used this script to create self-signed certificates for testing on Windows Server 2012 R2 machines because the built in version was not adequate.

Rather than trying to recreate this script, we should

[2021-02-11 06:37] #221 closed

[2021-02-11 06:37] #250 closed

[2021-02-19 18:41] PlagueHO commented on #241
Completed by #242

[2021-02-19 18:41] #241 closed

[2021-02-19 18:44] PlagueHO commented on #240
Thanks for raising this @jmarkert - it is a good catch and should be an easy fix as you've done most of the work. 😀

[2021-02-22 07:14] 39Delta commented on #248
#249

[2021-02-23 05:42] PlagueHO commented on #248
Closed by #249

[2021-02-23 05:42] #248 closed

[2021-04-09 08:48] PlagueHO opened #254 "Update Sampler Build Tasks"
Update the Sampler Build tasks as per this blog post: https://dsccommunity.org/blog/updating-sampler-github-tasks/

[2021-04-09 10:31] PlagueHO opened #255 "Enable Code Coverage Reporting"
Enable code coverage reporting as per this blog post: https://dsccommunity.org/blog/add-codecov-support-to-repository/

[2021-04-10 15:13] #254 closed

[2021-04-10 15:13] #255 closed

[2021-08-10 17:52] cmielke opened #258 "PfxImport: Cannot find an overload for "Import" and the argument count: "2""
#### Details of the scenario you tried and the problem that is occurring
I have a PFX as base64 with no password. When I use the pfxImport resource with the Content property and a null Credential, I get the error `Cannot find an overload for "Import" and the argument count: "2"`

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
System.Security.Cryptography.X509Cer

[2021-08-10 20:22] cmielke commented on #258
I updated a local copy of the module and confirmed that changing this
[code]
to this
[code]
fixed the issue and the certificate was successfully imported. I am going to submit an initial PR to illustrate the fix.

[2022-02-28 20:17] FiservSean opened #260 "PfxImport: Keys prevent multiple imports to different locations"
#### Details of the scenario you tried and the problem that is occurring
I have a single certificate that needs to be provided to two service account users.  The Key fields on Location, Store, and Thumbprint flag the second import as a duplicate, but notice that the PsDscRunAsCredential is different.  This is because I'm running the import as the service user and installing the cert to the Current

[2022-03-08 09:12] manschwetusCS opened #261 "When using content option on PfxImport with certificate twice in pfx private key gets lost"
I generated my pfx file with ansible and included the fullchain also, to ensure no intermediate certificates are missing. But the fullchain file also includes the certificate itself, so the certificate gets added a second time to the pfx file, this seems to break the private key import using `Import-PfxCertificateEx @importPfxCertificateParameters -Base64Content $Content`. As I don't see a point t

[2022-03-09 04:13] PlagueHO commented on #260
Hi @FiservSean - thanks for raising this.

Unfortunately, this is a behavior of the DSC LCM. As you point out the `PsDscRunAsCredential` is not considered part of the _key_ for the resource, so applying the resource twice with only the `PsDscRunAsCredential` differing is going to fail compilation.

There isn't an easy way around this issue, but there are possibilities:
- Import the certificate to

[2022-04-11 08:32] PlagueHO opened #262 "Update Azure DevOps Pipeline Images"
The Ubuntu 16.04 and Windows Server 2016 Azure DevOps pipeline hosted images will be deprecated:

https://devblogs.microsoft.com/devops/hosted-pipelines-image-deprecation/

The pipeline stages need to be migrated to newer versions.

[2022-04-11 08:33] PlagueHO opened #263 "Update CI Pipeline Files from Latest Pattern"
Copy the latest patterns for the `build.yml`, `build.ps1` and `azure-pipelines.yml` from the PR:
https://github.com/dsccommunity/xExchange/pull/471

# build.yml

[code]

[code]

- Also add updated issue templates and related files:
- .github\ISSUE_TEMPLATE
- .github\CONTRIBUTING.md
- .github\PULL_REQUEST_TEMPLATE.md
- .github\ISSUE_TEMPLATE\General.md
- .github\ISSUE_TEMPLATE\Problem_with_resource

[2022-04-11 08:35] PlagueHO opened #264 "Convert to class-based resources"
This resource module should be used as a trial for converting to the class-based resource pattern.

https://dsccommunity.org/blog/class-based-dsc-resources/

[2022-04-11 08:36] PlagueHO opened #265 "Convert tests to Pester 5"
Use this resource module as a trial for converting the tests to Pester v5: https://dsccommunity.org/blog/convert-tests-to-pester5-for-dsc-community-repository/

[2022-04-15 11:14] #262 closed

[2022-04-15 11:14] #263 closed

[2022-05-11 15:20] tkennedy-cf opened #267 "Add support to export Cert as Base64 with CredentialExport"
### Problem description

I am would like to have the ability to export a credential with DSC in base64 format.  I can do this with the GUI on windows cert store but not with the DSC code.

Thanks

![image](https://user-images.githubusercontent.com/101284566/167885731-02461694-ed1e-4263-9ab1-73f408d60e71.png)

### Verbose logs

[code]

### DSC configuration

[code]

### Suggested solution

N/A

###

[2022-05-13 08:41] PlagueHO commented on #267
Thanks for raising this @tkennedy-cf. This isn't currently supported because we use the `Export-Certificate` cmdlet internally - which doesn't support Base-64 encoded .CER (e.g. PEM file).

That said, it should be possible to take the .CER exported and encode it to Base-64 and wrap it.

For the `Set-TargetResource`:

[code]

I'd recommend a new function is created in CertificateDsc.Common that is

[2022-05-13 15:37] tkennedy-cf commented on #267
Sounds good, the enhancement would be greatly appreciated!  As a work around I used certutil to do this in a Script resource

`#Encode Root Cert and save it to KeyVault as secret
$retval = certutil -encode $OrgFile "$OrgFile-Base64.cer"
$certbase64 = [Convert]::ToBase64String([IO.File]::ReadAllBytes("$OrgFile-Base64.cer"))`

[2022-05-31 07:04] shubham1172 commented on #45
@AndreasSobczyk `Import-Certificate` is not available on nano server (`mcr.microsoft.com/powershell:lts-7.2-nanoserver-1809`).

[2022-09-07 12:35] raandree opened #269 "CertReq resource cannot request multiple certificates with same subject name"
### Problem description

Requesting more than one certificate with the same subject name results in a conflict as the only key property is `SubjectName`.

This would be a breaking change as the `FriendlyName` would become a mandatory parameter.

### Verbose logs

[code]

### DSC configuration

[code]

### Suggested solution

Changing the property `FriendlyName` from `Write` to `Key`.

### Operatin

[2022-09-07 19:13] PlagueHO commented on #269
Sounds like a good change. Think you'll submit a PR for it?

[2022-09-08 11:04] raandree commented on #269
Yes, working on it.

[2022-11-18 17:22] heinejeppesen opened #270 "DSC_CertReq failed to execute Set-TargetResource functionality with error message: Cannot add type. The type name 'Source.NativeMethods' already exists"
### Problem description

I'm trying to deploy Exchange 2019 CU12 on Server 2022 for dev environments and therefor I need to get certificate from the new WS2022 based PKI.
Deployment is through Azure DevOps/BICEP/Azure Automation on Azure VMs.

The error comes every time the pipeline runs, deploying from scratch.
When looking at the DSC State in Azure Automation, the state becomes compliant at the